@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  padding-top: 63px;
  color: #333;
  font-family: "Helvetica", "Arial", "PingFang TC", "黑體-繁", "微軟正黑體", sans-serif;
  position: relative;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  text-decoration: none;
  color: #666;
}
p {
  margin-bottom: 5px;
}
main {
  padding: 40px 0;
}
.custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid {
  border-color: #f96532;
}
::-webkit-input-placeholder {
  color: #ccc;
  font-size: 14px;
  padding-top: 2px;
}
::-moz-placeholder {
  color: #ccc;
  font-size: 14px;
  padding-top: 2px;
}
::-ms-input-placeholder {
  color: #ccc;
  font-size: 14px;
  padding-top: 2px;
}
::-moz-placeholder {
  color: #ccc;
  font-size: 14px;
  padding-top: 2px;
}
.pts_overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.5);
  z-index: 3999;
}
.pts_overlay > * {
  position: fixed;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.loader_icon {
  width: 50px;
  height: 50px;
  border: 3px solid #e7437b;
  border-radius: 50%;
  display: block;
  border-right: 3px solid #e8e8e8;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.dropdown-item {
  white-space: normal;
}
.btn-outline-primary {
  color: #e7437b;
  border-color: #e7437b;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary:visited {
  border-color: #e7437b !important;
  color: #fff;
  background-color: #e7437b !important;
}
.btn-primary {
  background-color: #e7437b;
  border-color: #e7437b;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:visited {
  background-color: #ed709b !important;
  border-color: #e7437b !important;
}
.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #e7437b;
}
.modal-dialog button.close {
  width: 50px;
  background: transparent url("../image/icon_gray.png") -8px -8px no-repeat;
  background-size: 280px 240px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.modal-dialog .modal-header {
  border-bottom: none;
  padding-top: 50px;
  position: relative;
}
.modal-dialog .modal-header .modal-title {
  width: 100%;
  text-align: center;
}
.modal-dialog .modal-body {
  text-align: center;
  color: #808080;
}
.modal-dialog .modal-footer {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: none;
  padding-bottom: 40px;
}
.modal-dialog .modal-footer .btn-outline-primary {
  color: #e7437b;
  padding: 6px 20px;
}
.modal-dialog .modal-footer .btn-outline-primary:hover {
  color: #fff;
  background-color: #e7437b;
}
.img_hover_effect {
  width: 100%;
  padding-bottom: 56%;
  position: relative;
  overflow: hidden;
  height: 0;
  background: #f5f5f5 url("../image/placeholder.jpg") center center no-repeat;
}
.img_hover_effect img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.img_hover_effect:hover img {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
  -ms-transform: translate(-50%, -50%) scale(1.1);
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0.8;
}
.page_message {
  font-size: 16px;
  color: #808080;
  padding: 0 0 10px 0;
}
.new_recommend {
  border: none;
  background-color: transparent;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.new_recommend .item_description {
  display: block;
  max-height: 38px;
  overflow: hidden;
  font-size: 13px;
}
.new_recommend .item_lists {
  margin: 0;
}
.new_recommend .item_lists > div {
  width: 33.3%;
  padding: 0;
}
.new_recommend .item_lists > div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.new_recommend .img_hover_effect {
  width: 150px;
  padding-bottom: 84px;
  -ms-flex-preferred-size: 150px;
  flex-basis: 150px;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.new_recommend .item_info {
  padding: 5px 10px;
}
.new_recommend .item_info .item_name {
  font-size: 14px;
}
.new_recommend .img_hover_effect .item_episode {
  position: absolute;
  color: #fff;
  z-index: 10;
  font-weight: normal;
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
  bottom: 2px;
  right: 5px;
  margin-bottom: 0;
}
.live_series {
  position: relative;
  margin-top: 40px;
  display: block;
}
.live_series .row {
  margin-left: 0;
  margin-right: 0;
}
.live_series > a {
  display: block;
  border: 1px solid #e8e8e8;
  padding: 15px 0;
}
.live_series img {
  width: 100%;
}
.live_series .item_label::before {
  padding: 3px 5px;
  font-size: 16px;
  border-radius: 4px;
  color: #fff;
  content: "尚未開播";
  background-color: #808080;
}
.live_series .item_name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
.live_series .item_start_time::after {
  content: " 開始直播";
}
.live_series .item_episode,
.live_series .item_description,
.live_series .item_start_time {
  color: #808080;
  font-size: 14px;
}
.live_series .item_description {
  display: block;
}
.live_series .img_hover_effect::before {
  content: "";
  width: 80px;
  height: 80px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: transparent url("../image/play_white_s.png") 0 0 no-repeat;
  background-size: 80px 80px;
  z-index: 10;
}
.live_series.live_now .item_label::before {
  content: "LIVE";
  background-color: #e7437b;
}
.live_series.live_now .item_start_time {
  display: none;
}
.item_lists {
  margin: 20px 0 0;
}
.item_lists > div:nth-child(5n),
.item_lists > div:last-child {
  border-right: 1px solid #e8e8e8;
}
.item_lists > div {
  width: 20%;
  border: 1px solid #e8e8e8;
  border-right: none;
  padding: 10px;
  font-size: 13px;
  margin-top: -1px;
}
.item_lists > div > a {
  display: block;
}
.item_lists > div.unavailable > a {
  position: relative;
}
.item_lists > div.unavailable > a::before {
  content: "已過期";
  display: block;
  top: 0;
  left: 0;
  font-size: 10px;
  position: absolute;
  z-index: 5;
  background-color: #333;
  color: #fff;
}
.item_lists > div.overdue > a {
  cursor: default;
}
.item_lists > div.overdue .img_hover_effect,
.item_lists > div.overdue .item_info {
  opacity: 0.4;
}
.item_lists > div.overdue .img_hover_effect:hover img {
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}
.item_lists.video .img_hover_effect {
  position: relative;
}
.item_lists.video .img_hover_effect::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent url("../image/play_white_s.png") 0 0 no-repeat;
  background-size: 40px 40px;
  z-index: 5;
  position: absolute;
  right: 3px;
  bottom: 3px;
}
.item_lists .item_info {
  font-size: 13px;
  color: #808080;
}
.item_lists .item_name {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}
.img_hover_effect span {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 100;
  font-size: 10px;
}
.img_hover_effect span::before {
  display: block;
  color: #fff;
  padding: 1px 3px;
  font-weight: 100;
}
.item_svod_tag::before {
  content: "VIP";
  background-color: #e7437b;
}
.item_tvod_tag::before {
  content: "單點";
  background-color: #6200e5;
}
.item_description {
  display: none;
}
.breadcrumb {
  background-color: transparent;
  font-size: 13px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
}
.breadcrumb a {
  color: #e7437b;
}
.breadcrumb li:first-child a {
  width: 30px;
  height: 30px;
  background: transparent url("../image/icon_gray.png") -178px -57px no-repeat;
  background-size: 280px 240px;
  display: inline-block;
}
.item_tag {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}
.item_tag::before {
  content: "";
  width: 30px;
  height: 30px;
  background: transparent url("../image/icon_gray.png") -217px -17px no-repeat;
  background-size: 280px 240px;
  display: inline-block;
}
.item_tag li {
  list-style: none;
  margin-left: 10px;
}
.item_tag a {
  display: block;
  padding: 5px 10px;
  border: 1px solid #e7437b;
  border-radius: 5px;
  font-size: 12px;
  color: #e7437b;
}
.item_tag a:hover {
  background-color: #e7437b;
  color: #fff;
}
.navbar {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 10px;
}
ul.navbar-nav {
  padding: 10px;
}
ul.navbar-nav li:first-child a {
  display: none;
}
.nav-item {
  position: relative;
  border-bottom: 1px solid #e8e8e8;
  padding: 5px 0;
}
.nav-item .member_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav-item .member_info .profile_image {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-right: 8px;
}
.nav-item .member_info .profile_image img {
  width: 100%;
}
.nav-item.membership_vip .member_name::before {
  content: "";
  width: 24px;
  height: 24px;
  background: transparent url("../image/icon_pink.png") -135px -38px no-repeat;
  background-size: 210px 180px;
  display: inline-block;
  vertical-align: center;
}
.navbar-toggler {
  padding: 4px 10px 4px 0;
}
.navbar-light .navbar-toggler {
  border: none;
}
.navbar-toggler-icon.navbar-toggler-icon-close {
  background-image: none;
}
.navbar-light .navbar-nav .nav-link {
  color: #333;
}
.navbar-brand img {
  width: 90px;
}
#navbarSupportedContent .btn_vip_plan .nav-link {
  color: #fff;
}
#navbarSupportedContent .form-inline {
  position: relative;
  padding: 0;
  margin-top: 10px;
}
#navbarSupportedContent .form-inline button {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent url("../image/icon_pink.png") -124px -53px no-repeat;
  background-size: 280px 240px;
  color: transparent;
  border: none;
}
#navbarSupportedContent .form-inline button:hover,
#navbarSupportedContent .form-inline button:focus,
#navbarSupportedContent .form-inline button:active,
#navbarSupportedContent .form-inline button:visited {
  background-color: transparent !important;
}
#category_lists ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#category_lists ul li {
  width: 50%;
  list-style: none;
}
#category_lists ul li i {
  padding: 0 8px 0 0;
}
#category_lists ul a {
  display: block;
  color: #333;
  padding: 10px 0;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
#category_lists ul a:hover {
  color: #e7437b;
}
.home_page {
  padding-top: 0;
}
.carousel-control-next-icon {
  background: transparent url("../image/icon_white_s.png") -58px -142px no-repeat;
  background-size: 280px 240px;
}
.carousel-control-prev-icon {
  background: transparent url("../image/icon_white_s.png") -22px -142px no-repeat;
  background-size: 280px 240px;
}
.carousel-indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  bottom: -40px;
}
.carousel-indicators li.carousel-play-control {
  width: 14px;
  height: 14px;
  border: 1px solid #ccc;
  background-color: #ccc;
  position: relative;
  font-size: 12px;
}
.carousel-indicators li.carousel-play-control::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.carousel-indicators li.carousel-play-control.carousel-pause::before {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 6px;
  height: 6px;
}
.carousel-indicators li.carousel-play-control.carousel-play::before {
  -webkit-transform: translate(-38%, -50%);
  -ms-transform: translate(-38%, -50%);
  transform: translate(-38%, -50%);
  width: 0;
  height: 0;
  border-left: 6px solid #fff;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
.carousel-indicators li {
  width: 8px;
  height: 8px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #d8d8d8;
  margin: 0 5px;
}
.carousel-indicators .active {
  background-color: transparent;
  border: 1px solid #9b9b9b;
  width: 9px;
  height: 9px;
}
.carousel-caption {
  padding: 20px 0 0 0;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.5)));
  background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
  background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
  text-shadow: 0 0 4px rgba(0,0,0,0.3);
}
.carousel-caption .h5,
.carousel-caption h5 {
  font-size: 14px;
  text-align: right;
  padding-right: 20px;
}
.carousel-caption p {
  display: none;
  font-weight: 300;
}
.carousel_image_crop {
  height: 0;
  overflow: hidden;
  padding-bottom: 31.9%;
  background: #f5f5f5 url("../image/placeholder.jpg") center center no-repeat;
}
.curating_tabbar ul {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.curating_tabbar li {
  list-style: none;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  color: #ccc;
  margin-left: -1px;
  cursor: pointer;
}
.curating_tabbar .tabbar_active {
  border: 1px solid #333;
  color: #333;
  z-index: 10;
}
.curating {
  margin-top: 50px;
}
.curating h3 {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.curating .curating_block {
  margin-bottom: 40px;
}
.curating .curating_block h3 {
  display: none;
  font-size: 18px;
}
.curating .curating_block .see_more {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 13px;
  color: #808080;
  padding: 5px 0;
  margin-top: 10px;
}
.curating .curating_block .see_more:hover {
  color: #a6a6a6;
}
.subcategory_block {
  margin-bottom: 40px;
}
.subcategory_block h3 {
  font-size: 24px;
  display: block;
  text-align: left;
  width: 100%;
  margin-bottom: 0;
  padding: 0 15px;
}
.subcategory_block h3 a::after {
  content: "更多>>";
  color: #808080;
  font-weight: 300;
  font-size: 12px;
}
.subcategory_block .item_lists {
  margin-left: 0;
  margin-right: 0;
}
.live_page h3,
.search_page h3 {
  width: 100%;
  margin-bottom: 0;
  font-size: 24px;
}
.search_page h3 {
  margin-bottom: 20px;
}
.page_cover_image {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.2%;
  background: #f5f5f5 url("../image/placeholder.jpg") center center no-repeat;
  overflow: hidden;
}
.page_cover_image img {
  width: 100%;
}
.page_cover_image .btn_play {
  width: 160px;
  height: 160px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: transparent url("../image/play_white_s.png") 10px 10px no-repeat;
  background-size: 140px 140px;
  z-index: 10;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.page_cover_image .btn_play:hover {
  background: transparent url("../image/play_white_s.png") 0 0 no-repeat;
  background-size: 160px 160px;
}
.series_page .page_cover_image {
  padding-bottom: 32%;
}
.page_action {
  width: 100%;
  font-size: 13px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #808080;
}
.page_action > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
}
.page_action .publish_date,
.page_action .play_frequency,
.page_action .live_start_time {
  position: relative;
  margin-right: 8px;
}
.page_action .publish_date::before,
.page_action .play_frequency::before,
.page_action .live_start_time::before {
  content: "發行年月: ";
}
.page_action .play_frequency::before {
  content: "觀看人數: ";
}
.page_action .play_frequency::after {
  background: transparent url("../image/icon_gray.png") -46px -45px no-repeat;
  background-size: 210px 180px;
}
.page_action .live_start_time::before {
  content: "開始時間: ";
}
.page_action .label_graded {
  width: 30px;
  height: 30px;
  margin: 5px;
}
.page_action .graded_0 {
  background: transparent url("../image/graded/gsrr_0.jpg") 0 0 no-repeat;
  background-size: 30px 30px;
}
.page_action .graded_6 {
  background: transparent url("../image/graded/gsrr_6.jpg") 0 0 no-repeat;
  background-size: 30px 30px;
}
.page_action .graded_12 {
  background: transparent url("../image/graded/gsrr_12.jpg") 0 0 no-repeat;
  background-size: 30px 30px;
}
.page_action .graded_15 {
  background: transparent url("../image/graded/gsrr_15.jpg") 0 0 no-repeat;
  background-size: 30px 30px;
}
.page_action .graded_18 {
  background: transparent url("../image/graded/gsrr_18.jpg") 0 0 no-repeat;
  background-size: 30px 30px;
}
.page_action .btn_share,
.page_action .btn_favorite {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.page_action .btn_share {
  background: transparent url("../image/icon_gray.png") -219px -20px no-repeat;
  background-size: 350px 300px;
}
.page_action .btn_share:hover {
  background-image: url("../image/icon_pink.png");
}
.page_action .btn_favorite {
  background: transparent url("../image/icon_gray.png") -70px -20px no-repeat;
  background-size: 350px 300px;
}
.page_action .btn_favorite.btn_active {
  background: transparent url("../image/icon_pink.png") -120px -20px no-repeat;
  background-size: 350px 300px;
}
.page_action .item_svod_tag,
.page_action .item_tvod_tag {
  font-weight: 100;
  color: #fff;
  text-shadow: 0 0 2px rgba(0,0,0,0.3);
  font-size: 15px;
  display: block;
  margin: 10px 10px 0 0;
}
.page_action .item_svod_tag::before,
.page_action .item_tvod_tag::before {
  padding: 3px 5px;
}
.page_detail_info {
  padding: 10px 0;
  position: relative;
  line-height: 1.8;
}
.page_detail_info > div {
  font-size: 14px;
  color: #808080;
  margin-bottom: 10px;
}
.page_detail_info .series_direct::before {
  font-weight: bold;
  color: #4d4d4d;
  content: "導演: ";
}
.page_detail_info .series_actor::before {
  font-weight: bold;
  color: #4d4d4d;
  content: "演員: ";
}
.page_detail_info .series_category {
  font-size: 14px;
}
.page_detail_info .series_category::before {
  font-weight: bold;
  color: #4d4d4d;
  content: "類別: ";
}
.page_detail_info .series_category li {
  list-style: none;
  display: inline-block;
}
.page_detail_info .series_category li a {
  color: #e7437b;
}
.page_detail_info .series_category li:not(:last-child) a::after {
  content: ",";
}
.series_name {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 0;
}
.series_page .series_tab_contnet,
.video_page .series_tab_contnet {
  margin-top: 0;
  margin-bottom: 20px;
  width: 100%;
}
.series_page .series_tab_contnet .item_lists,
.video_page .series_tab_contnet .item_lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 0;
}
.series_page .series_tab_contnet .item_lists > div,
.video_page .series_tab_contnet .item_lists > div {
  width: 50%;
  border: none;
  padding-left: 0;
  padding-right: 20px;
}
.series_page .series_tab_contnet .item_lists > div a,
.video_page .series_tab_contnet .item_lists > div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.series_page .series_tab_contnet .img_hover_effect,
.video_page .series_tab_contnet .img_hover_effect {
  padding-bottom: 22%;
  width: 40%;
}
.series_page .series_tab_contnet .item_info,
.video_page .series_tab_contnet .item_info {
  padding-left: 10px;
  width: 60%;
}
.series_page .series_tab_contnet .item_description,
.video_page .series_tab_contnet .item_description {
  display: block;
  overflow: hidden;
  height: 37px;
  font-size: 12px;
}
.series_page .series_tab_contnet .item_name,
.video_page .series_tab_contnet .item_name {
  font-size: 14px;
}
.series_tab_area ul {
  margin-bottom: 10px;
}
.series_tab_area ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px 5px;
  border-bottom: 3px solid transparent;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}
.series_tab_area ul li.series_tab_active {
  border-bottom-color: #e7437b;
}
.series_tab_area ul li:hover {
  color: #595959;
}
.recommend_series h4,
.series_episode h4,
.live_videos h4 {
  font-size: 16px;
  font-weight: bold;
}
.recommend_series .item_lists,
.live_videos .item_lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-right: 0;
  margin-top: 0;
}
.recommend_series .item_lists a,
.live_videos .item_lists a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.recommend_series .item_lists a .img_hover_effect,
.live_videos .item_lists a .img_hover_effect {
  width: 40%;
  padding-bottom: 22%;
}
.recommend_series .item_lists a .item_info,
.live_videos .item_lists a .item_info {
  width: 60%;
}
.recommend_series .item_lists > div,
.live_videos .item_lists > div {
  width: 100%;
}
.recommend_series .item_info,
.live_videos .item_info {
  padding-left: 10px;
}
.recommend_series .item_name,
.live_videos .item_name {
  font-size: 14px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.recommend_series .item_episode,
.live_videos .item_episode {
  font-size: 12px;
}
.series_and_video_sidebar {
  overflow-y: scroll;
}
.series_and_video_sidebar::-webkit-scrollbar-track {
  background-color: transparent;
}
.series_episode .series_episode_btn_bar {
  background-color: #f8f9fa;
  display: none;
  margin-bottom: 3px;
}
.series_episode .series_episode_btn_bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}
.series_episode .series_episode_btn_bar li {
  list-style: none;
  width: 33%;
}
.series_episode .series_episode_btn_bar li.active a {
  color: #333;
  position: relative;
}
.series_episode .series_episode_btn_bar li.active a::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #e7437b;
  bottom: 6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.series_episode .series_episode_btn_bar a {
  color: #e7437b;
  font-size: 14px;
  display: block;
  line-height: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.series_episode .item_lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-right: 0;
  margin-top: 0;
}
.series_episode .item_lists a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f8f9fa;
  margin-bottom: 3px;
}
.series_episode .item_lists a .img_hover_effect {
  width: 72px;
  padding-bottom: 40px;
  -ms-flex-preferred-size: 72px;
  flex-basis: 72px;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.series_episode .item_lists a .item_info {
  width: 60%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}
.series_episode .item_lists > div {
  width: 100%;
}
.series_episode .item_info {
  padding-left: 8px;
}
.series_episode .item_name {
  font-size: 13px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 10px;
}
.more_video {
  text-align: center;
  display: inline-block;
  width: 100%;
  color: #e7437b;
  cursor: pointer;
}
.login_page h4,
.signup_page h4,
.forgot_password_page h4,
.reset_password_page h4 {
  font-size: 18px;
  margin-bottom: 20px;
}
.login_page button,
.signup_page button,
.forgot_password_page button,
.reset_password_page button {
  width: 100%;
}
.login_page label,
.signup_page label,
.forgot_password_page label,
.reset_password_page label {
  font-size: 14px;
  color: #808080;
}
.login_page small a,
.signup_page small a,
.forgot_password_page small a,
.reset_password_page small a {
  color: #e7437b;
}
.dividing_line {
  border-bottom: 1px solid #ccc;
  position: relative;
  margin: 30px 0;
  color: #ccc;
  font-weight: normal;
  font-size: 12px;
}
.dividing_line::before {
  content: "or";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: 5px 10px;
  background-color: #fff;
}
.forgot_password {
  display: block;
  text-align: right;
  color: #e7437b;
  width: 100%;
  margin: 15px 0;
  font-size: 14px;
}
.forgot_password:hover {
  color: #f087ab;
}
.btn-facebook {
  background-color: #39589a;
  color: #fff;
}
.invalid-feedback {
  color: #f96532;
}
.signup_message_page p {
  font-size: 14px;
  color: #808080;
}
.article_page {
  padding-top: 40px;
  padding-bottom: 40px;
}
.article_page h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
.article_page p {
  font-size: 14px;
  color: #808080;
  margin: 15px 0;
}
.article_page h6 {
  margin: 30px 0 5px 0;
}
.notification_page h3,
.payment_history_page h3 {
  width: 100%;
  font-size: 24px;
  margin-bottom: 20px;
}
.notification_page h3 + div,
.payment_history_page h3 + div {
  width: 100%;
}
.notification_detail_list {
  width: 100%;
}
.notification_detail_page h3,
.notification_detail_list h3 {
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px;
  margin-top: 10px;
}
.notification_detail_page p,
.notification_detail_list p {
  font-size: 14px;
  color: #808080;
}
.notification_detail_page .text_list_date,
.notification_detail_list .text_list_date {
  width: 100%;
  text-align: right;
  position: static;
  color: #ccc;
  font-size: 12px;
  margin-top: 20px;
}
.text_list {
  border: 1px solid #e8e8e8;
  margin-top: -1px;
  padding: 15px;
  position: relative;
  display: block;
  padding-right: 80px;
}
.text_list:hover {
  opacity: 0.8;
}
.text_list .text_list_title {
  color: #e7437b;
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  max-height: 50px;
  display: inline;
}
.text_list .text_list_date {
  font-size: 12px;
  color: #ccc;
  position: absolute;
  right: 10px;
  top: 10px;
}
.text_list .text_list_description {
  font-size: 13px;
  color: #808080;
  max-height: 38px;
  overflow: hidden;
  margin-top: 10px;
  display: block;
}
.text_list.item_svod_tag::before,
.text_list.item_tvod_tag::before {
  color: #fff;
  font-size: 10px;
  padding: 2px 5px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}
.member_series_block h3 {
  width: 100%;
  margin-bottom: 0;
  font-size: 24px;
}
.member_series_block .item_lists {
  margin: 20px -15px 0;
}
.member_series_block .item_lists > div {
  position: relative;
  width: 50%;
}
.member_series_block .item_lists > div > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.member_series_block .item_lists > div:last-child,
.member_series_block .item_lists > div:nth-child(2n) {
  border-right: 1px solid #e8e8e8;
}
.member_series_block .item_lists .img_hover_effect {
  width: 40%;
  padding-bottom: 22%;
}
.member_series_block .item_lists .item_info {
  width: 60%;
  padding-left: 10px;
}
.member_series_block .btn_favorite {
  position: absolute;
  width: 30px;
  height: 30px;
  background: transparent url("../image/icon_pink.png") -97px -17px no-repeat;
  background-size: 280px 240px;
  top: 5px;
  right: 10px;
  cursor: pointer;
  z-index: 100;
}
.member_series_block .btn_favorite:hover {
  background-position: -57px -17px;
}
.contact_page h3,
.member_reset_password_page h3,
.coupon_page h3 {
  width: 100%;
  font-size: 24px;
  margin-bottom: 20px;
}
.contact_page form,
.member_reset_password_page form,
.coupon_page form {
  width: 100%;
  padding-bottom: 40px;
}
.member_reset_password_page form,
.coupon_page form {
  padding-bottom: 10px;
}
.member_reset_password_page form button,
.coupon_page form button {
  width: 100%;
}
.coupon_page .page_message {
  font-size: 13px;
  padding-top: 20px;
}
.coupon_page .page_message a {
  color: #e7437b;
}
.coupon_page .modal-body .item_lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.coupon_page .modal-body .item_lists > label {
  width: 50%;
  margin: 0;
  margin-top: -1px;
  margin-left: -1px;
}
.coupon_page .modal-body .item_lists > label > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ccc;
  padding: 8px;
}
.coupon_page .modal-body .item_lists > label .img_hover_effect {
  width: 40%;
  padding-bottom: 22%;
}
.coupon_page .modal-body .item_lists > label .item_info {
  width: 60%;
  padding-left: 10px;
  text-align: left;
}
.coupon_page .modal-body .item_lists > label .item_info > p {
  margin-bottom: 0;
}
.coupon_page .modal-body .item_lists > label .item_description {
  display: block;
  overflow: hidden;
  max-height: 37px;
  font-size: 12px;
}
.coupon_page .modal-body .item_lists input {
  display: none;
}
.coupon_page .modal-body .item_lists input:checked + div {
  border: 1px solid #e7437b;
  background-color: rgba(231,67,123,0.2);
  position: relative;
  z-index: 10;
}
.profile_page h3,
.payment_detail_page h3 {
  font-size: 24px;
  margin-bottom: 20px;
  padding-right: 20px;
}
.profile_page .modal-body {
  text-align: left;
}
.profile_page .modal-body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.profile_page .form-group {
  width: 50%;
  padding: 0 10px;
}
.profile_page .form-group label {
  font-size: 12px;
}
.edit_profile_textlink {
  color: #e7437b;
}
.edit_profile_textlink:hover {
  color: #f087ab;
}
.member_profile > .row,
.payment_detail > .row {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.member_profile > .row > div,
.payment_detail > .row > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.member_profile .detail_item,
.payment_detail .detail_item {
  width: 100%;
  padding: 10px 10px 15px 0;
}
.member_profile .detail_item a,
.payment_detail .detail_item a {
  color: #e7437b;
  font-size: 12px;
  padding: 0 10px;
}
.member_profile .detail_item a:hover,
.payment_detail .detail_item a:hover {
  color: #f087ab;
}
.member_profile .detail_item p,
.payment_detail .detail_item p {
  font-size: 16px;
  color: #333;
}
.member_profile .detail_item .detail_item_label,
.payment_detail .detail_item .detail_item_label {
  font-size: 12px;
  color: #808080;
}
.member_profile .detail_2_column .detail_item,
.payment_detail .detail_2_column .detail_item {
  width: 50%;
}
.member_profile .payment_history > p,
.payment_detail .payment_history > p {
  width: 100%;
  font-size: 12px;
  color: #808080;
  margin-top: 15px;
}
.member_profile .payment_history > a,
.payment_detail .payment_history > a {
  display: block;
  width: 100%;
}
.payment_detail_page .detail_item {
  width: 50%;
}
.device_management_page h3 {
  width: 100%;
  margin-bottom: 0;
  font-size: 24px;
  margin-bottom: 20px;
}
.current_device > p,
.other_device > p {
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  padding-bottom: 20px;
  width: 100%;
  text-align: left;
  padding-left: 10px;
}
.device_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  width: 100%;
}
.device_list > button {
  position: absolute;
  right: 20px;
  top: 10px;
}
.device_icon {
  width: 50px;
  height: 50px;
  background: transparent url("../image/icon_device.png") -20px -20px no-repeat;
  background-size: 260px 100px;
  display: inline-block;
  margin-right: 10px;
}
.device_icon.device_phone {
  background-position: -20px -20px;
}
.device_icon.device_pc {
  background-position: -100px -20px;
}
.device_icon.device_tv {
  background-position: -180px -20px;
}
.device_info > p {
  text-align: left;
  font-size: 12px;
  color: #808080;
  padding-bottom: 0;
  font-weight: normal;
  margin-bottom: 0;
}
.device_info .device_name {
  font-size: 16px;
  color: #333;
}
.my_favorite_page .alert {
  position: fixed;
  font-size: 14px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 300;
  color: #e7437b;
  left: 50%;
  top: 150px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.payment_flow_page {
  padding-top: 0px;
}
.payment_flow_page nav {
  border-top: 4px solid #e7437b;
  background-color: #fff;
}
.payment_flow_page .navbar-brand {
  padding-top: 10px;
}
.payment_flow_page .navbar-brand img {
  width: 110px;
}
.payment_flow_page .payment_steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
  border-bottom: 2px solid #e8e8e8;
}
.payment_flow_page .payment_steps li {
  list-style: none;
  width: 15px;
  height: 15px;
  background-color: #ccc;
  border-radius: 50%;
  position: relative;
  color: #ccc;
  top: 7px;
}
.payment_flow_page .payment_steps li::before {
  content: "選擇方案";
  position: absolute;
  display: none;
  font-size: 13px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.payment_flow_page .payment_steps li.active {
  background-color: #e7437b;
  color: #333;
}
.payment_flow_page .payment_steps li.active::before {
  display: block;
}
.payment_flow_page .payment_steps .step_01::before {
  content: "選擇方案";
}
.payment_flow_page .payment_steps .step_02::before {
  content: "訂購資料";
}
.payment_flow_page .payment_steps .step_03::before {
  content: "付費方式";
}
.payment_flow_page .payment_steps .step_04::before {
  content: "發票選項";
}
.payment_flow_page .payment_steps .step_05::before {
  content: "訂單確認";
}
.payment_flow_page h3 {
  font-size: 30px;
  padding: 40px 0;
  text-align: center;
}
.payment_flow_page .payment_plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.payment_flow_page .plan-card {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin: 0 5px 20px;
  max-width: 33%;
}
.payment_flow_page .plan-card button {
  width: 100%;
}
.payment_flow_page .plan-card span::before {
  content: "推薦";
  position: absolute;
  color: #fff;
  background-color: #e7437b;
  display: block;
  padding: 0 40px;
  font-size: 12px;
  top: 5px;
  right: -25px;
  -webkit-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);
}
.payment_flow_page .card_subtitle {
  font-size: 14px;
  color: #e7437b;
  font-weight: bold;
}
.payment_flow_page .card_title {
  font-size: 24px;
  color: #333;
  font-weight: bold;
}
.payment_flow_page .card_description {
  font-size: 13px;
  color: #808080;
  padding: 8px 0;
}
.payment_flow_page .plan_notice {
  padding: 20px 15px;
  text-align: center;
}
.payment_flow_page .plan_notice h6 {
  font-size: 18px;
  font-weight: bold;
}
.payment_flow_page .plan_notice p {
  color: #808080;
  font-size: 13px;
}
.payment_flow_page .plan_notice a {
  color: #e7437b;
}
.payment_flow_page h4 {
  font-size: 14px;
  text-align: left;
  font-weight: bold;
  padding-top: 10px;
}
.payment_flow_page .payment_method {
  margin: 20px 0 -1px;
  padding: 20px 100px;
  border: 1px solid #e8e8e8;
}
.payment_flow_page .payment_method form label {
  width: 100%;
  position: relative;
}
.payment_flow_page .payment_method form label p {
  font-size: 12px;
  color: #808080;
}
.payment_flow_page .payment_method form label > div {
  padding: 20px 20px 20px 50px;
  border-radius: 15px;
  border: 1px solid #e8e8e8;
  margin: 0 0 20px 0;
}
.payment_flow_page .payment_method form label > input {
  position: absolute;
  top: 24px;
  left: 27px;
}
.payment_flow_page .payment_method form .save_credit_card > input {
  top: 5px;
  left: 35px;
}
.payment_flow_page .payment_method form .save_credit_card > input:checked + div {
  border: none;
  background-color: transparent;
}
.payment_flow_page .payment_method form .save_credit_card > div {
  border: none;
  padding: 0;
  padding-left: 55px;
}
.payment_flow_page .payment_method form input:checked + div {
  border: 1px solid #4a90e2;
  background-color: #f7fbff;
}
.payment_flow_page .payment_method .coupon_plan_title {
  font-size: 13px;
  font-weight: bold;
  color: #333;
  padding-top: 10px;
}
.payment_flow_page .invoice-preference {
  margin: 20px 0 -1px;
  padding: 20px 100px;
  border: 1px solid #e8e8e8;
}
.payment_flow_page .invoice-preference .invoice_subform,
.payment_flow_page .invoice-preference .invoice_subform_sub,
.payment_flow_page .invoice-preference .invoice-device-number {
  display: none;
  padding-left: 15px;
}
.payment_flow_page .invoice-preference form input:checked + label + div {
  display: block;
}
.payment_flow_page .invoice-preference form input:checked + label > span {
  display: none;
}
.payment_flow_page .invoice-preference form .form-group {
  padding: 10px 0;
}
.payment_flow_page .invoice-preference form .form-group p {
  font-size: 13px;
}
.payment_flow_page .invoice-preference form .form-group input[type="text"] {
  margin: 0 10px;
}
.payment_flow_page .invoice-preference form .form-group .invoice_paper input[type="text"] {
  margin-left: 0;
}
.payment_flow_page .invoice-preference .invoice_paper label {
  font-size: 13px;
  color: #808080;
}
.payment_flow_page .invoice-preference .invoice-donate-textlink {
  color: #e7437b;
  font-size: 13px;
}
.payment_flow_page .invoice-preference .invoice-donate-textlink:hover {
  color: #f087ab;
}
.payment_flow_page .invoice-preference .invoice_subform_sub .invoice-device-number input[type="text"] {
  margin-bottom: 10px;
}
.payment_flow_page .invoice-preference .invoice_subform_sub .invoice-device-number .invalid-feedback {
  padding-left: 10px;
}
.payment_flow_page .payment_detail {
  margin: 20px 0 -1px;
  padding: 20px 100px;
  border: 1px solid #e8e8e8;
}
.payment_flow_page .payment_detail .detail_item {
  padding-top: 0;
}
.payment_flow_page .payment_user_info {
  margin: 20px 0 -1px;
  padding: 20px 100px;
  border: 1px solid #e8e8e8;
}
.payment_flow_page .payment_user_info form label {
  font-size: 13px;
  font-weight: bold;
  color: #808080;
}
.payment_flow_page .payment_user_info form .form-group {
  padding-bottom: 20px;
}
.payment_flow_page .payment_user_info form p {
  font-weight: bold;
}
.payment_flow_page .order-total-price {
  width: 100%;
  background: #fff;
  padding: 10px 10px 20px 10px;
  border: 1px solid #e8e8e8;
}
.payment_flow_page .order-total-price > div {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.payment_flow_page .order-total-price .original_price,
.payment_flow_page .order-total-price .special_price {
  padding-bottom: 5px;
}
.payment_flow_page .order-total-price .original_price::before,
.payment_flow_page .order-total-price .special_price::before {
  content: "NTD$";
}
.payment_flow_page .order-total-price .back_prev_step {
  font-size: 13px;
  color: #e7437b;
}
.payment_flow_page .order-total-price .back_prev_step:hover {
  color: #f087ab;
}
.payment_flow_page .order-total-price .special_price {
  font-size: 24px;
  color: #e7437b;
  padding-left: 5px;
}
.payment_flow_page .order-total-price .original_price {
  font-size: 18px;
  color: #ccc;
  text-decoration: line-through;
}
.payment_flow_page .order-total-price .special_price.d-none + .original_price {
  font-size: 24px;
  color: #e7437b;
  text-decoration: none;
}
.payment_flow_page .order-total-price button {
  width: 200px;
}
.payment_flow_page .payment_detail_title {
  color: #e7437b;
  text-align: center;
  font-size: 22px;
}
.payment_flow_page .form-group {
  margin-bottom: 0;
}
.payment_flow_page .message_title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.payment_flow_page .message_content {
  font-size: 14px;
  color: #808080;
}
.payment_flow_page .payment-error-msg {
  font-size: 14px;
  color: #333;
  padding-top: 10px;
}
.payment_flow_page ol.payment-error-msg {
  padding-left: 20px;
}
.payment_flow_page ol.payment-error-msg li {
  margin-bottom: 5px;
}
.payment_flow_page .payment_message img {
  width: 100%;
}
.payment_flow_page .payment_message .payment_code_and_date {
  font-size: 16px;
  padding: 15px 0 20px;
  border-bottom: 1px dotted #808080;
}
.payment_flow_page .payment_message .payment_code_and_date p {
  padding-bottom: 5px;
}
.payment_flow_page .payment_message .payment_code_and_date span {
  color: #e7437b;
  font-weight: bold;
}
.payment_flow_page .payment_message .payment_plan_and_price {
  font-size: 14px;
  padding: 20px 0 10px;
}
.payment_flow_page .payment_message .payment_plan_and_price p {
  padding-bottom: 5px;
}
.payment_flow_page .payment_message .payment_plan_and_price ul {
  padding: 20px 0 0 20px;
}
.payment_flow_page .payment_message .payment_plan_and_price ul li {
  font-size: 12px;
  padding-bottom: 5px;
}
footer {
  padding: 30px 0;
  background-color: #f8f9fa;
}
footer .row {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
footer h6 {
  font-size: 14px;
}
footer .fb_btn_qroup span {
  background-color: #3b5998;
  padding: 5px 8px 5px 33px;
  color: #fff;
  font-size: 13px;
  position: relative;
  border-radius: 3px;
  margin-right: 20px;
}
footer .fb_btn_qroup span::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background: transparent url("../image/icon_white.png") -183px -63px no-repeat;
  background-size: 280px 240px;
  position: absolute;
  top: 3px;
  left: 8px;
}
footer .pts_info_logo {
  width: 80px;
  display: block;
  margin-bottom: 10px;
  margin-top: -10px;
}
footer .pts_info_logo img {
  width: 100%;
}
footer .pts_info {
  color: #333;
}
footer .pts_info h6 {
  font-size: 14px;
  font-weight: bold;
}
footer .pts_info p {
  font-size: 12px;
  margin-bottom: 0;
}
footer .footer_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
footer .footer_link li {
  list-style: none;
  width: 50%;
}
footer .footer_link a {
  color: #e7437b;
  font-size: 12px;
  display: block;
  font-weight: normal;
  padding: 3px 0;
}
footer .footer_link a:hover {
  opacity: 0.8;
}
footer .download_badge,
footer .fb_btn_qroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
footer .download_badge > a,
footer .fb_btn_qroup > a {
  display: block;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .navbar {
    padding: 0 20px;
  }
  ul.navbar-nav li {
    padding: 0 5px;
  }
  ul.navbar-nav li:first-child a {
    display: block;
  }
  #category_lists {
    display: none;
    width: 350px;
    position: absolute;
    background-color: rgba(255,255,255,0.9);
    padding: 10px 20px;
    font-size: 15px;
    top: 25px;
    right: 30px;
    z-index: 200;
  }
  #category_lists ul {
    padding: 8px 0;
  }
  #category_lists:hover {
    display: block;
  }
  li.nav-item:hover > #category_lists {
    display: block;
  }
  .nav-item {
    border: none;
    padding: 0;
  }
  .nav-item.btn_vip_plan {
    border: 1px solid #e7437b;
    border-radius: 4px;
    color: #fff;
    background-color: #e7437b;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .nav-item.btn_vip_plan:hover {
    color: #fff;
    background-color: #e7437b;
  }
  .nav-item.btn_vip_plan .nav-link {
    color: #e7437b;
  }
  .nav-item.btn_vip_plan .nav-link:hover {
    color: #fff;
  }
  .nav-item.btn_vip_plan .nav-link:focus {
    color: #e7437b;
  }
  .nav-item.btn_vip_plan .nav-link:active {
    color: #fff;
  }
  .nav-item.registered a {
    padding: 0;
  }
  #navbarSupportedContent .form-inline {
    margin-top: 0;
  }
  .series_episode .video .img_hover_effect:before {
    display: none;
  }
  footer .download_badge > a,
  footer .fb_btn_qroup > a {
    width: 100%;
    max-width: 135px;
  }
  footer .download_badge > a > img,
  footer .fb_btn_qroup > a > img {
    width: 100%;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none;
  }
  .carousel-indicators {
    margin: 0 0 15px 0;
    width: 50%;
    bottom: 0;
  }
  .carousel-indicators li.carousel-play-control {
    background-color: transparent;
    border: 1px solid #fff;
  }
  .carousel-indicators .active {
    background-color: transparent;
    border: 1px solid #fff;
  }
  .carousel-caption {
    background: rgba(0,0,0,0.7);
    text-shadow: none;
    margin-left: 10%;
    padding: 40px 20px;
    width: 30%;
    top: 0;
  }
  .carousel-caption > div {
    overflow: hidden;
    margin-bottom: 40px;
    height: 100%;
  }
  .carousel-caption .h5,
  .carousel-caption h5 {
    font-size: 24px;
    text-align: left;
    padding: 0;
  }
  .carousel-caption p {
    display: block;
    font-size: 14px;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  .curating .curating_block {
    display: none;
  }
  .category_page .item_lists > div:nth-child(5n) {
    border-right: none;
  }
  .category_page .item_lists > div:nth-child(5n+1),
  .category_page .item_lists > div:last-child {
    border-right: 1px solid #e8e8e8;
  }
  .category_page .item_lists > div:nth-child(1) {
    width: 100%;
  }
  .category_page .item_lists > div:nth-child(1) .item_description {
    display: block;
  }
  .category_page .item_lists > div:nth-child(1) > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .category_page .item_lists > div:nth-child(1) .img_hover_effect {
    width: 40%;
    padding-bottom: 20.4%;
  }
  .category_page .item_lists > div:nth-child(1) .item_info {
    width: 70%;
    padding-left: 20px;
  }
  .category_page .item_lists > div:nth-child(1) .item_name {
    font-size: 20px;
  }
  .series_page,
  .video_page {
    padding-top: 10px;
  }
  .series_page .breadcrumb,
  .video_page .breadcrumb {
    padding-left: 0;
  }
  .series_page .item_tag,
  .video_page .item_tag {
    padding-left: 0;
  }
  .series_page .item_tag a,
  .video_page .item_tag a {
    font-size: 14px;
  }
  .recommend_series,
  .live_videos {
    padding-top: 20px;
  }
  .recommend_series > .row,
  .live_videos > .row {
    margin-left: 0;
  }
  .recommend_series .item_lists > div,
  .live_videos .item_lists > div {
    padding: 0;
    border: none;
    margin-bottom: 10px;
  }
  .live_videos {
    padding-top: 0;
  }
  .series_episode > .row {
    margin-left: 0;
  }
  .series_episode .item_lists > div {
    padding: 0;
    border: none;
  }
  .video_page span.more_video {
    margin-top: 10px;
  }
  .my_favorite_page .item_description {
    display: block;
    overflow: hidden;
    height: 36px;
  }
  .contact_page form {
    position: relative;
  }
  .contact_page form button {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
  }
  .subordinate_menu > a {
    display: none;
  }
  .subordinate_menu .dropdown-menu {
    display: block;
    border: none;
    position: relative;
    background-color: transparent;
    padding-top: 0;
  }
  .subordinate_menu .dropdown-item {
    padding: 10px 0 10px 5px;
    color: #808080;
  }
  .subordinate_menu .dropdown-item span {
    padding-bottom: 2px;
  }
  .subordinate_menu .dropdown-item.active {
    background-color: transparent;
    color: #e7437b;
  }
  .subordinate_menu .dropdown-item.active span {
    border-bottom: 2px solid #e7437b;
  }
  .subordinate_menu .dropdown-item:active {
    background-color: transparent;
    color: #e7437b;
  }
}
@media (max-width: 767px) {
  main {
    padding-top: 20px;
  }
  .navbar {
    max-height: 100vh;
    overflow: scroll;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  #navbarSupportedContent .btn_vip_plan .nav-link {
    color: #333;
  }
  footer .row > div {
    padding-bottom: 20px;
  }
  footer .download_badge a {
    padding-right: 10px;
  }
  footer .download_badge img {
    max-height: 40px;
  }
  footer .footer_link {
    padding-top: 0;
    margin-bottom: 0;
  }
  footer .footer_link a {
    height: 30px;
  }
  footer .pts_info {
    padding-top: 30px;
  }
  .item_lists {
    margin-top: 0;
  }
  .item_lists > div:nth-child(2n) {
    border-right: 1px solid #e8e8e8;
  }
  .item_lists > div {
    width: 50%;
    font-size: 12px;
  }
  .item_lists .item_name {
    font-size: 14px;
  }
  .live_series {
    margin-top: 20px;
    background-color: #f8f9fa;
    border: none;
    padding: 15px;
  }
  .live_series > a {
    border: none;
  }
  .live_series .item_label::before {
    font-size: 12px;
    display: inline;
  }
  .live_series .item_name {
    font-size: 16px;
    margin-bottom: 0;
    display: inline;
  }
  .live_series .item_description {
    display: none;
  }
  .live_series button {
    display: none;
  }
  .new_recommend {
    padding-left: 15px;
    padding-right: 15px;
  }
  .new_recommend .item_lists > div {
    width: 100%;
    padding: 10px;
    border-right: 1px solid #e8e8e8;
  }
  .curating h3 {
    display: none;
  }
  .curating .row.curating_tabbar {
    display: none;
  }
  .curating .curating_block h3 {
    display: block;
  }
  .curating .curating_block .series > div {
    display: none;
  }
  .curating .curating_block .series > div:nth-child(1),
  .curating .curating_block .series > div:nth-child(2),
  .curating .curating_block .series > div:nth-child(3),
  .curating .curating_block .series > div:nth-child(4) {
    display: block;
  }
  .curating .curating_block .see_more {
    display: none;
  }
  .subcategory_block h3 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
  }
  .subcategory_block h3 a::after {
    content: "";
  }
  .category_page .item_lists > div:nth-child(5),
  .category_page .item_lists > div:nth-child(6) {
    display: none;
  }
  .live_page h3 {
    text-align: center;
    font-size: 18px;
  }
  .search_page h3 {
    font-size: 18px;
  }
  .page_detail_info {
    line-height: 1.5;
  }
  .page_detail_info > div {
    font-size: 13px;
  }
  .series_name {
    font-size: 18px;
    padding-top: 0;
  }
  .series_page .series_tab_contnet .item_lists > div,
  .video_page .series_tab_contnet .item_lists > div {
    width: 100%;
    padding: 5px;
    padding-right: 0;
  }
  .series_page .series_tab_contnet .item_info,
  .video_page .series_tab_contnet .item_info {
    font-size: 12px;
  }
  .series_tab_area {
    margin-top: 20px;
  }
  .series_tab_area ul.series_tab li {
    font-size: 16px;
  }
  .recommend_series {
    padding-top: 20px;
  }
  .recommend_series h4,
  .series_episode h4,
  .live_videos h4 {
    padding: 0 15px;
    font-size: 16px;
  }
  .recommend_series .item_lists > div,
  .series_episode .item_lists > div,
  .live_videos .item_lists > div {
    padding: 0;
    border: none;
    margin: 5px 0;
  }
  .series_episode .item_lists > div {
    margin: 1px 0;
  }
  .series_page .page_cover_image {
    padding-bottom: 35%;
    margin-left: -15px;
    margin-right: -15px;
    width: 108.5%;
  }
  .video_page .page_cover_image {
    padding-bottom: 61%;
    margin-left: -15px;
    margin-right: -15px;
    width: 108.5%;
  }
  .page_cover_image .btn_play {
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    background-position: 0 0;
  }
  .page_cover_image .btn_play:hover {
    background-size: 80px 80px;
  }
  .notification_page h3,
  .payment_history_page h3 {
    margin-bottom: 10px;
    font-size: 18px;
    padding: 0 15px;
  }
  .notification_detail_page h3,
  .notification_detail_list h3 {
    margin-bottom: 10px;
    font-size: 16px;
    padding: 0 10px;
  }
  .notification_detail_page p,
  .notification_detail_list p {
    padding: 0 10px;
    font-size: 13px;
  }
  .notification_detail_page .text_list_date,
  .notification_detail_list .text_list_date {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  .text_list {
    border-left: none;
    border-right: none;
    padding-right: 15px;
  }
  .text_list .text_list_title {
    padding-right: 0;
    font-size: 14px;
    max-height: 45px;
    display: block;
  }
  .text_list .text_list_date {
    position: static;
    display: inline;
  }
  .text_list .text_list_description {
    margin-top: 0;
  }
  .member_series_block h3 {
    margin-bottom: 10px;
    font-size: 18px;
    margin-left: 15px;
  }
  .member_series_block .item_lists {
    margin: 20px 0px 0;
  }
  .member_series_block .item_lists > div {
    width: 100%;
    border-right: 1px solid #e8e8e8;
  }
  .contact_page h3,
  .member_reset_password_page h3,
  .coupon_page h3 {
    font-size: 18px;
    padding-left: 15px;
  }
  .contact_page form,
  .member_reset_password_page form,
  .coupon_page form {
    padding: 0 15px;
  }
  .contact_page form button,
  .member_reset_password_page form button,
  .coupon_page form button {
    width: 100%;
  }
  .coupon_page .modal-body .item_lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .coupon_page .modal-body .item_lists > label {
    width: 100%;
  }
  .device_management_page h3,
  .profile_page h3,
  .payment_detail_page h3 {
    margin-bottom: 10px;
    font-size: 18px;
    margin-left: 10px;
  }
  .profile_page h3 {
    margin-left: 0px;
  }
  .profile_page .member_profile > .row {
    margin-left: 0;
    margin-right: 0;
  }
  .profile_page .form-group {
    width: 100%;
  }
  .profile_page .detail_item p {
    font-size: 14px;
  }
  .payment_detail_page .payment_detail > .row {
    margin-left: 0;
    margin-right: 0;
  }
  .payment_detail_page .detail_item {
    width: 100%;
    padding: 10px;
  }
  .payment_detail_page .detail_item p {
    font-size: 14px;
  }
  .payment_flow_page {
    padding-bottom: 0;
  }
  .payment_flow_page .container {
    padding-bottom: 105px;
  }
  .payment_flow_page h3 {
    font-size: 24px;
  }
  .payment_flow_page .navbar-brand {
    padding-top: 0;
  }
  .payment_flow_page .navbar-brand img {
    width: 80px;
  }
  .payment_flow_page .payment_steps {
    margin-top: 20px;
  }
  .payment_flow_page .payment_plan {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .payment_flow_page .plan-card {
    width: 100%;
    max-width: 100%;
  }
  .payment_flow_page .payment_method,
  .payment_flow_page .invoice-preference,
  .payment_flow_page .payment_detail,
  .payment_flow_page .payment_user_info {
    padding: 0 20px 20px 20px;
    border: none;
  }
  .payment_flow_page .invoice-preference .invoice-donate-textlink {
    padding-left: 25px;
  }
  .payment_flow_page .order-total-price {
    position: fixed;
    bottom: 0;
    left: 0;
    border: none;
    border-top: 1px solid #e8e8e8;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.2);
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    z-index: 100;
  }
  .payment_flow_page .detail_item p {
    font-size: 14px;
  }
  .page_message {
    font-size: 14px;
  }
  .subordinate_menu > a {
    width: 100%;
  }
  .subordinate_menu .dropdown-menu {
    width: 100%;
  }
  .subordinate_menu .btn-secondary.dropdown-toggle {
    border-color: #e8e8e8;
    background-color: #fff;
    color: #808080;
    text-align: left;
    margin-bottom: 20px;
  }
  .subordinate_menu .dropdown-item {
    color: #333;
  }
  .subordinate_menu .dropdown-item.active {
    background-color: transparent;
    color: #333;
  }
}
@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
