<div _ngcontent-c5="" class="carousel slide carousel-fade" data-ride="carousel" id="pts_carsusel">
        <ol _ngcontent-c5="" class="carousel-indicators">
            <!---->
            <li _ngcontent-c5="" data-target="#pts_carsusel" class="active" data-slide-to="0">
            </li>
            <li _ngcontent-c5="" data-target="#pts_carsusel" data-slide-to="1" class="">
            </li>
            <li _ngcontent-c5="" data-target="#pts_carsusel" data-slide-to="2">
            </li>
            <li _ngcontent-c5="" data-target="#pts_carsusel" data-slide-to="3">
            </li>
            <li _ngcontent-c5="" data-target="#pts_carsusel" data-slide-to="4">
            </li>

        </ol>
        <div _ngcontent-c5="" class="carousel-inner">
            <!---->
            <div _ngcontent-c5="" class="carousel-item active">

                <!---->
                <!----><a _ngcontent-c5="" href="/channel/15/sub-genre/15-7">
                    <div _ngcontent-c5="" class="carousel_image_crop">
                        <img _ngcontent-c5="" class="d-block w-100" src="https://prod-material.ptsplus.tv/banner/dc010985-fda6-407c-bfbe-1b26ad6f75c0/artworks/key_visual/web/WebListPage_0.jpg" alt="我們的勇敢時刻">
                    </div>
                    <div _ngcontent-c5="" class="carousel-caption">
                        <div _ngcontent-c5="">
                            <h5 _ngcontent-c5="">我們的勇敢時刻</h5>

                            <p _ngcontent-c5="">戰爭歷史要怎麼跟小孩述說？置身戰爭中的兒童，過著什麼樣的生活，有什麼樣的感受？《我們的勇敢時刻》以兒少觀點出發，刻畫二次世界大戰期間，歐洲多個國家兒童的遭遇，以及他們的成長故事。 全系列短片共八集，時間軸涵蓋整個二次世界大戰，地理分佈遍及歐洲多國，每一集講述一個歐洲孩童的英雄旅程、都是孩子的真實經歷與遭遇，並以史實和戲劇交錯的方式呈現。製作單位特別與兒童媒體研究單位以及教育工作者合作，精選具有代表性，又不至於對孩童造成太過強烈衝擊的史料照片，以及二戰期間兒童的日記、書信內容，幫助孩童理解當時背景。</p>
                        </div>
                    </div>
                </a>

                <a _ngcontent-c5="">
                    <!---->
                    <div _ngcontent-c5="" class="carousel-caption">
                        <div _ngcontent-c5="">
                            <h5 _ngcontent-c5="">我們的勇敢時刻</h5>

                            <p _ngcontent-c5="">戰爭歷史要怎麼跟小孩述說？置身戰爭中的兒童，過著什麼樣的生活，有什麼樣的感受？《我們的勇敢時刻》以兒少觀點出發，刻畫二次世界大戰期間，歐洲多個國家兒童的遭遇，以及他們的成長故事。 全系列短片共八集，時間軸涵蓋整個二次世界大戰，地理分佈遍及歐洲多國，每一集講述一個歐洲孩童的英雄旅程、都是孩子的真實經歷與遭遇，並以史實和戲劇交錯的方式呈現。製作單位特別與兒童媒體研究單位以及教育工作者合作，精選具有代表性，又不至於對孩童造成太過強烈衝擊的史料照片，以及二戰期間兒童的日記、書信內容，幫助孩童理解當時背景。</p>
                        </div>
                    </div>
                </a>


                <!---->
                <!---->
            </div>
            <div _ngcontent-c5="" class="carousel-item">

                <!---->
                <!----><a _ngcontent-c5="" href="/season/9fafd7dd-4897-4d23-85c9-dba2224f2dba">
                    <div _ngcontent-c5="" class="carousel_image_crop">
                        <img _ngcontent-c5="" class="d-block w-100" src="https://prod-material.ptsplus.tv/series/1-2018721/artworks/key_visual/web/WebItemPage_婆婆_0722_banner_1920_f.jpg" alt="我的婆婆怎麼那麼可愛">
                    </div>
                    <div _ngcontent-c5="" class="carousel-caption">
                        <div _ngcontent-c5="">
                            <h5 _ngcontent-c5="">我的婆婆怎麼那麼可愛</h5>

                            <p _ngcontent-c5="">【每周六晚間23:00一次上架兩集】小鷗(黃姵嘉 飾)本名奚伊鷗，沒錯！就是CEO，她是蘇家最小的媳婦，她也是人人畏懼的「帶賽小鷗」，因為在她嫁進門前後，公公跟老公就相繼掛掉。因此，她婆婆蘇林彩香（鍾欣凌 飾）不但要承受著喪夫、喪子之痛，還要獨自面對家族餅店「珍賀齋」的倒閉危機，偏偏她所剩的四個子女都不願意承接家族事業，讓彩香決定北上依靠子女們，心裡打了如意算盤，以為可以炫耀兒女事業有成享享清福。想不到這些「不孝子們」各懷鬼胎，像詐騙集團一樣要訛詐自己的養老金，便上演媽媽與子女、婆婆與媳婦間瘋狂、脫序的家族戰爭。<br><br>小鷗與彩香本來打算從此各過各的日子，井水不犯河水，但小鷗陸續聽到蘇家兒女詐騙的誇張行徑，同情心、好勝心湧上心頭的她決定與「珍賀齋」忠誠的糕餅師傅發貴（張書偉 飾）留守餅舖繼續拼下去！命運是如此的巧妙，蘇家的鬥爭能化解嗎？小鷗能助彩香一臂之力挽救母子問題嗎？「珍賀齋」還有機會起死回生「重振雄風」嗎？讓我們繼續看下去⋯⋯</p>
                        </div>
                    </div>
                </a>

                <a _ngcontent-c5="">
                    <!---->
                    <div _ngcontent-c5="" class="carousel-caption">
                        <div _ngcontent-c5="">
                            <h5 _ngcontent-c5="">我的婆婆怎麼那麼可愛</h5>

                            <p _ngcontent-c5="">【每周六晚間23:00一次上架兩集】小鷗(黃姵嘉 飾)本名奚伊鷗，沒錯！就是CEO，她是蘇家最小的媳婦，她也是人人畏懼的「帶賽小鷗」，因為在她嫁進門前後，公公跟老公就相繼掛掉。因此，她婆婆蘇林彩香（鍾欣凌 飾）不但要承受著喪夫、喪子之痛，還要獨自面對家族餅店「珍賀齋」的倒閉危機，偏偏她所剩的四個子女都不願意承接家族事業，讓彩香決定北上依靠子女們，心裡打了如意算盤，以為可以炫耀兒女事業有成享享清福。想不到這些「不孝子們」各懷鬼胎，像詐騙集團一樣要訛詐自己的養老金，便上演媽媽與子女、婆婆與媳婦間瘋狂、脫序的家族戰爭。<br><br>小鷗與彩香本來打算從此各過各的日子，井水不犯河水，但小鷗陸續聽到蘇家兒女詐騙的誇張行徑，同情心、好勝心湧上心頭的她決定與「珍賀齋」忠誠的糕餅師傅發貴（張書偉 飾）留守餅舖繼續拼下去！命運是如此的巧妙，蘇家的鬥爭能化解嗎？小鷗能助彩香一臂之力挽救母子問題嗎？「珍賀齋」還有機會起死回生「重振雄風」嗎？讓我們繼續看下去⋯⋯</p>
                        </div>
                    </div>
                </a>


                <!---->
                <!---->
            </div>
            <div _ngcontent-c5="" class="carousel-item">

                <!---->
                <!----><a _ngcontent-c5="" href="/season/51a3b07e-0218-414b-a630-cd9147d94f98">
                    <div _ngcontent-c5="" class="carousel_image_crop">
                        <img _ngcontent-c5="" class="d-block w-100" src="https://prod-material.ptsplus.tv/series/5-0000000X/artworks/key_visual/web/WebItemPage_沙發音樂廳_banner_1920.jpg" alt="公視+一起聽音樂 : NSO 沙發音樂廳">
                    </div>
                    <div _ngcontent-c5="" class="carousel-caption">
                        <div _ngcontent-c5="">
                            <h5 _ngcontent-c5="">公視+一起聽音樂 : NSO 沙發音樂廳</h5>

                            <p _ngcontent-c5="">【4K精彩呈現】【觀看期限至2024/5/31】今年因應新型冠狀病毒肺炎（COVID-19）疫情嚴重影響表演藝術團隊之演出營收，為維持演出量能，讓樂迷能在線上收看，NSO與國家兩廳院、公共電視台三方聯手，由音樂總監呂紹嘉領軍指揮，共同製播以4K超高畫質全球直播的線上音樂會。NSO安排了適當編制與多元動聽的樂曲與大家共享，希望音樂成為撫慰人心的溫暖陪伴。<br><br>▌管絃織音 <br>▌嬉遊夏夜 <br>▌完全貝多芬<br><br>指揮/呂紹嘉 Shao-Chia Lü, conductor<br>國家交響樂團National Symphony Orchestra<br>指揮／呂紹嘉 <br>演出／國家交響樂團 <br></p>
                        </div>
                    </div>
                </a>

                <a _ngcontent-c5="">
                    <!---->
                    <div _ngcontent-c5="" class="carousel-caption">
                        <div _ngcontent-c5="">
                            <h5 _ngcontent-c5="">公視+一起聽音樂 : NSO 沙發音樂廳</h5>

                            <p _ngcontent-c5="">【4K精彩呈現】【觀看期限至2024/5/31】今年因應新型冠狀病毒肺炎（COVID-19）疫情嚴重影響表演藝術團隊之演出營收，為維持演出量能，讓樂迷能在線上收看，NSO與國家兩廳院、公共電視台三方聯手，由音樂總監呂紹嘉領軍指揮，共同製播以4K超高畫質全球直播的線上音樂會。NSO安排了適當編制與多元動聽的樂曲與大家共享，希望音樂成為撫慰人心的溫暖陪伴。<br><br>▌管絃織音 <br>▌嬉遊夏夜 <br>▌完全貝多芬<br><br>指揮/呂紹嘉 Shao-Chia Lü, conductor<br>國家交響樂團National Symphony Orchestra<br>指揮／呂紹嘉 <br>演出／國家交響樂團 <br></p>
                        </div>
                    </div>
                </a>


                <!---->
                <!---->
            </div>
            <div _ngcontent-c5="" class="carousel-item">

                <!---->
                <!----><a _ngcontent-c5="" href="/season/3dc93797-08d7-425e-9681-bd8dab1ebed2">
                    <div _ngcontent-c5="" class="carousel_image_crop">
                        <img _ngcontent-c5="" class="d-block w-100" src="https://prod-material.ptsplus.tv/series/5-0000000V/artworks/key_visual/web/WebItemPage_釧兒_banner_1920.jpg" alt="釧兒">
                    </div>
                    <div _ngcontent-c5="" class="carousel-caption">
                        <div _ngcontent-c5="">
                            <h5 _ngcontent-c5="">釧兒</h5>

                            <p _ngcontent-c5="">【4K精彩呈現】【觀看期限至10/1】一個不敢搬演《薛平貴與王寶釧》的歌仔戲班，存在著一段大家都不願提及的過往……喪失記憶的團長兒子阿強，只知道歌仔戲讓全家人不快樂；一位年輕女子釧兒，卻每日等在戲台下，期待「身騎白馬」的曲調能再次響起……<br>Reed Unbroken is a story about a Taiwanese Opera troupe which is struggles to survive and a beautiful romance. A-Qiang, the only son of a leading Taiwanese Opera troupe, lost all memory of his love of Taiwanese opera in a tragic accident. Chuan, a mysterious and beautiful woman, stays always at his side, trying to help him recover his memories and his caring for the troupe by watching their favorite opera scene-XUE Ping-gui &amp; WANG Bao-chuan, which is forbidden to perform for many years since the tragic accident.<br></p>
                        </div>
                    </div>
                </a>

                <a _ngcontent-c5="">
                    <!---->
                    <div _ngcontent-c5="" class="carousel-caption">
                        <div _ngcontent-c5="">
                            <h5 _ngcontent-c5="">釧兒</h5>

                            <p _ngcontent-c5="">【4K精彩呈現】【觀看期限至10/1】一個不敢搬演《薛平貴與王寶釧》的歌仔戲班，存在著一段大家都不願提及的過往……喪失記憶的團長兒子阿強，只知道歌仔戲讓全家人不快樂；一位年輕女子釧兒，卻每日等在戲台下，期待「身騎白馬」的曲調能再次響起……<br>Reed Unbroken is a story about a Taiwanese Opera troupe which is struggles to survive and a beautiful romance. A-Qiang, the only son of a leading Taiwanese Opera troupe, lost all memory of his love of Taiwanese opera in a tragic accident. Chuan, a mysterious and beautiful woman, stays always at his side, trying to help him recover his memories and his caring for the troupe by watching their favorite opera scene-XUE Ping-gui &amp; WANG Bao-chuan, which is forbidden to perform for many years since the tragic accident.<br></p>
                        </div>
                    </div>
                </a>


                <!---->
                <!---->
            </div>
            <div _ngcontent-c5="" class="carousel-item">

                <!---->
                <!----><a _ngcontent-c5="" href="/channel/11">
                    <div _ngcontent-c5="" class="carousel_image_crop">
                        <img _ngcontent-c5="" class="d-block w-100" src="https://prod-material.ptsplus.tv/banner/831c0b2d-3679-4101-a41f-64e8f33679eb/artworks/key_visual/web/WebListPage_台語台_banner_1920_final.jpg" alt="台語頻道攏佇遮">
                    </div>
                    <div _ngcontent-c5="" class="carousel-caption">
                        <div _ngcontent-c5="">
                            <h5 _ngcontent-c5="">台語頻道攏佇遮</h5>

                            <p _ngcontent-c5="">台語頻道包含各類型節目,不但可以追劇,還有紀錄片和綜藝節目,像是益智節目#全家有智慧,小朋友最愛的#水果冰淇淋,培養藝術氣息的#畫我台灣,非常適合全家一同收看唷!</p>
                        </div>
                    </div>
                </a>

                <a _ngcontent-c5="">
                    <!---->
                    <div _ngcontent-c5="" class="carousel-caption">
                        <div _ngcontent-c5="">
                            <h5 _ngcontent-c5="">台語頻道攏佇遮</h5>

                            <p _ngcontent-c5="">台語頻道包含各類型節目,不但可以追劇,還有紀錄片和綜藝節目,像是益智節目#全家有智慧,小朋友最愛的#水果冰淇淋,培養藝術氣息的#畫我台灣,非常適合全家一同收看唷!</p>
                        </div>
                    </div>
                </a>


                <!---->
                <!---->
            </div>
        </div>
        <a _ngcontent-c5="" class="carousel-control-prev" data-slide="prev" href="#pts_carsusel" role="button">
            <span _ngcontent-c5="" aria-hidden="true" class="carousel-control-prev-icon"></span>
            <span _ngcontent-c5="" class="sr-only">Previous</span>
        </a>
        <a _ngcontent-c5="" class="carousel-control-next" data-slide="next" href="#pts_carsusel" role="button">
            <span _ngcontent-c5="" aria-hidden="true" class="carousel-control-next-icon"></span>
            <span _ngcontent-c5="" class="sr-only">Next</span>
        </a>
    </div>