    <app-root _nghost-c0="" ng-version="5.2.11">
        <router-outlet _ngcontent-c0=""></router-outlet>
        <app-home _nghost-c1="">
            <app-header _ngcontent-c1="" _nghost-c2="">
                <header _ngcontent-c2="">
                    <nav _ngcontent-c2="" class="navbar fixed-top navbar-light bg-light navbar-expand-md">
                        <button _ngcontent-c2="" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
                            <span _ngcontent-c2="" class="navbar-toggler-icon"></span>
                        </button>
                        <a _ngcontent-c2="" class="navbar-brand" routerlink="/" href="/"><img _ngcontent-c2="" alt="" src="/ptsplus_dejavu/assets/image/pts_logo_l.png"></a>
                        <div _ngcontent-c2="" class="collapse navbar-collapse" id="navbarSupportedContent">
                            <form _ngcontent-c2="" class="form-inline col-md-3 ng-untouched ng-pristine ng-valid" novalidate="">
                                <input _ngcontent-c2="" aria-label="Search" class="form-control col-md-12" placeholder="" type="search">
                                <button _ngcontent-c2="" class="btn btn-outline-primary" type="submit">搜尋</button>
                            </form>
                            <ul _ngcontent-c2="" class="navbar-nav">
                                <li _ngcontent-c2="" class="nav-item"><a _ngcontent-c2="" class="nav-link" href="javascript:void(0)">頻道</a>
                                    <div _ngcontent-c2="" id="category_lists">
                                        <ul _ngcontent-c2="">
                                            <li _ngcontent-c2="">
                                                <a _ngcontent-c2="" routerlink="/live" href="/live">
                                                    <i _ngcontent-c2="" class="fab fa-adn"></i>
                                                    <span _ngcontent-c2="" class="category_title">直播</span>
                                                </a>
                                            </li>
                                            <!---->
                                            <li _ngcontent-c2="">
                                                <a _ngcontent-c2="" href="/channel/1">
                                                    <i _ngcontent-c2="" class="fas fa-coffee"></i>
                                                    <span _ngcontent-c2="" class="category_title">戲劇</span>
                                                </a>
                                            </li>
                                            <li _ngcontent-c2="">
                                                <a _ngcontent-c2="" href="/channel/2">
                                                    <i _ngcontent-c2="" class="fas fa-receipt"></i>
                                                    <span _ngcontent-c2="" class="category_title">紀錄片</span>
                                                </a>
                                            </li>
                                            <li _ngcontent-c2="">
                                                <a _ngcontent-c2="" href="/channel/3">
                                                    <i _ngcontent-c2="" class="fas fa-cocktail"></i>
                                                    <span _ngcontent-c2="" class="category_title">藝文</span>
                                                </a>
                                            </li>
                                            <li _ngcontent-c2="">
                                                <a _ngcontent-c2="" href="/channel/5">
                                                    <i _ngcontent-c2="" class="fas fa-couch"></i>
                                                    <span _ngcontent-c2="" class="category_title">生活</span>
                                                </a>
                                            </li>
                                            <li _ngcontent-c2="">
                                                <a _ngcontent-c2="" href="/channel/6">
                                                    <i _ngcontent-c2="" class="fas fa-heart"></i>
                                                    <span _ngcontent-c2="" class="category_title">點點愛</span>
                                                </a>
                                            </li>
                                            <li _ngcontent-c2="">
                                                <a _ngcontent-c2="" href="/channel/7">
                                                    <i _ngcontent-c2="" class="far fa-clock"></i>
                                                    <span _ngcontent-c2="" class="category_title">限時賞味</span>
                                                </a>
                                            </li>
                                            <li _ngcontent-c2="">
                                                <a _ngcontent-c2="" href="/channel/11">
                                                    <i _ngcontent-c2="" class="fas fa-comments"></i>
                                                    <span _ngcontent-c2="" class="category_title">台語頻道</span>
                                                </a>
                                            </li>
                                            <li _ngcontent-c2="">
                                                <a _ngcontent-c2="" href="/channel/14">
                                                    <i _ngcontent-c2="" class="far fa-gem"></i>
                                                    <span _ngcontent-c2="" class="category_title">公視表演廳精選</span>
                                                </a>
                                            </li>
                                            <li _ngcontent-c2="">
                                                <a _ngcontent-c2="" href="/channel/17">
                                                    <i _ngcontent-c2="" class="fas fa-users"></i>
                                                    <span _ngcontent-c2="" class="category_title">他他與她她</span>
                                                </a>
                                            </li>
                                            <li _ngcontent-c2="">
                                                <a _ngcontent-c2="" href="/channel/4">
                                                    <i _ngcontent-c2="" class="fas fa-child"></i>
                                                    <span _ngcontent-c2="" class="category_title">兒少精選推薦</span>
                                                </a>
                                            </li>
                                            <li _ngcontent-c2="">
                                                <a _ngcontent-c2="" href="/channel/15">
                                                    <i _ngcontent-c2="" class="fas fa-seedling"></i>
                                                    <span _ngcontent-c2="" class="category_title">台灣國際兒童影展</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <!---->
                                <li _ngcontent-c2="" class="nav-item unregistered"><a _ngcontent-c2="" class="nav-link" href="/registration">註冊</a></li>
                                <li _ngcontent-c2="" class="nav-item unregistered"><a _ngcontent-c2="" class="nav-link" href="/login">登入</a></li>

                                <!---->
                                <!---->
                                <!---->
                                <li _ngcontent-c2="" class="nav-item btn_vip_plan">
                                    <a _ngcontent-c2="" class="nav-link" href="javascript:void(0)">方案介紹</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </header>



            </app-header>
            <main _ngcontent-c1="" class="home_page">

                <div _ngcontent-c1="" class="carousel slide carousel-fade" data-ride="carousel" id="pts_carsusel">
                    <ol _ngcontent-c1="" class="carousel-indicators">
                        <!---->
                        <li _ngcontent-c1="" data-target="#pts_carsusel" class="" data-slide-to="0">
                        </li>
                        <li _ngcontent-c1="" data-target="#pts_carsusel" data-slide-to="1" class="">
                        </li>
                        <li _ngcontent-c1="" data-target="#pts_carsusel" data-slide-to="2" class="">
                        </li>
                        <li _ngcontent-c1="" data-target="#pts_carsusel" data-slide-to="3" class="">
                        </li>
                        <li _ngcontent-c1="" data-target="#pts_carsusel" data-slide-to="4" class="">
                        </li>
                        <li _ngcontent-c1="" data-target="#pts_carsusel" data-slide-to="5" class="">
                        </li>
                        <li _ngcontent-c1="" data-target="#pts_carsusel" data-slide-to="6" class="">
                        </li>
                        <li _ngcontent-c1="" data-target="#pts_carsusel" data-slide-to="7" class="active">
                        </li>

                    </ol>
                    <div _ngcontent-c1="" class="carousel-inner">
                        <!---->
                        <div _ngcontent-c1="" class="carousel-item">

                            <!---->
                            <a _ngcontent-c1="" target="_blank" href="https://www.ptsplus.tv/live/5226799c-554e-438f-a59e-ea36ff3b0329">
                                <div _ngcontent-c1="" class="carousel_image_crop">
                                    <img _ngcontent-c1="" class="d-block w-100" src="https://prod-material.ptsplus.tv/banner/514d1c9f-5d7e-4733-90c3-a9e9549020b8/artworks/key_visual/web/WebListPage_613.jpg" alt="臺灣原創流行音樂大獎直播">
                                </div>
                                <div _ngcontent-c1="" class="carousel-caption">
                                    <div _ngcontent-c1="">
                                        <h5 _ngcontent-c1="">臺灣原創流行音樂大獎直播</h5>

                                        <p _ngcontent-c1="">最具指標性的母語音樂創作大賽，最後冠軍獎落誰家 8/29LIVE揭曉 ▪直播時間 8/29 (六) 13:00～19:00 ▪演出嘉賓 BCW｜ 葛西瓦 ▪主持人 高蕾雅｜ 徐哲緯｜ 邵大倫</p>
                                    </div>
                                </div>
                            </a>

                            <!---->
                            <!---->
                        </div>
                        <div _ngcontent-c1="" class="carousel-item">

                            <!---->
                            <!----><a _ngcontent-c1="" href="/season/9fafd7dd-4897-4d23-85c9-dba2224f2dba">
                                <div _ngcontent-c1="" class="carousel_image_crop">
                                    <img _ngcontent-c1="" class="d-block w-100" src="https://prod-material.ptsplus.tv/series/1-2018721/artworks/key_visual/web/WebItemPage_婆婆_0722_banner_1920_f.jpg" alt="我的婆婆怎麼那麼可愛">
                                </div>
                                <div _ngcontent-c1="" class="carousel-caption">
                                    <div _ngcontent-c1="">
                                        <h5 _ngcontent-c1="">我的婆婆怎麼那麼可愛</h5>

                                        <p _ngcontent-c1="">【每周六晚間23:00一次上架兩集】小鷗(黃姵嘉 飾)本名奚伊鷗，沒錯！就是CEO，她是蘇家最小的媳婦，她也是人人畏懼的「帶賽小鷗」，因為在她嫁進門前後，公公跟老公就相繼掛掉。因此，她婆婆蘇林彩香（鍾欣凌 飾）不但要承受著喪夫、喪子之痛，還要獨自面對家族餅店「珍賀齋」的倒閉危機，偏偏她所剩的四個子女都不願意承接家族事業，讓彩香決定北上依靠子女們，心裡打了如意算盤，以為可以炫耀兒女事業有成享享清福。想不到這些「不孝子們」各懷鬼胎，像詐騙集團一樣要訛詐自己的養老金，便上演媽媽與子女、婆婆與媳婦間瘋狂、脫序的家族戰爭。<br><br>小鷗與彩香本來打算從此各過各的日子，井水不犯河水，但小鷗陸續聽到蘇家兒女詐騙的誇張行徑，同情心、好勝心湧上心頭的她決定與「珍賀齋」忠誠的糕餅師傅發貴（張書偉 飾）留守餅舖繼續拼下去！命運是如此的巧妙，蘇家的鬥爭能化解嗎？小鷗能助彩香一臂之力挽救母子問題嗎？「珍賀齋」還有機會起死回生「重振雄風」嗎？讓我們繼續看下去⋯⋯</p>
                                    </div>
                                </div>
                            </a>

                            <a _ngcontent-c1="">
                                <!---->
                                <div _ngcontent-c1="" class="carousel-caption">
                                    <div _ngcontent-c1="">
                                        <h5 _ngcontent-c1="">我的婆婆怎麼那麼可愛</h5>

                                        <p _ngcontent-c1="">【每周六晚間23:00一次上架兩集】小鷗(黃姵嘉 飾)本名奚伊鷗，沒錯！就是CEO，她是蘇家最小的媳婦，她也是人人畏懼的「帶賽小鷗」，因為在她嫁進門前後，公公跟老公就相繼掛掉。因此，她婆婆蘇林彩香（鍾欣凌 飾）不但要承受著喪夫、喪子之痛，還要獨自面對家族餅店「珍賀齋」的倒閉危機，偏偏她所剩的四個子女都不願意承接家族事業，讓彩香決定北上依靠子女們，心裡打了如意算盤，以為可以炫耀兒女事業有成享享清福。想不到這些「不孝子們」各懷鬼胎，像詐騙集團一樣要訛詐自己的養老金，便上演媽媽與子女、婆婆與媳婦間瘋狂、脫序的家族戰爭。<br><br>小鷗與彩香本來打算從此各過各的日子，井水不犯河水，但小鷗陸續聽到蘇家兒女詐騙的誇張行徑，同情心、好勝心湧上心頭的她決定與「珍賀齋」忠誠的糕餅師傅發貴（張書偉 飾）留守餅舖繼續拼下去！命運是如此的巧妙，蘇家的鬥爭能化解嗎？小鷗能助彩香一臂之力挽救母子問題嗎？「珍賀齋」還有機會起死回生「重振雄風」嗎？讓我們繼續看下去⋯⋯</p>
                                    </div>
                                </div>
                            </a>


                            <!---->
                            <!---->
                        </div>
                        <div _ngcontent-c1="" class="carousel-item">

                            <!---->
                            <!----><a _ngcontent-c1="" href="/season/51a3b07e-0218-414b-a630-cd9147d94f98">
                                <div _ngcontent-c1="" class="carousel_image_crop">
                                    <img _ngcontent-c1="" class="d-block w-100" src="https://prod-material.ptsplus.tv/series/5-0000000X/artworks/key_visual/web/WebItemPage_沙發音樂廳_banner_1920.jpg" alt="公視+一起聽音樂 : NSO 沙發音樂廳">
                                </div>
                                <div _ngcontent-c1="" class="carousel-caption">
                                    <div _ngcontent-c1="">
                                        <h5 _ngcontent-c1="">公視+一起聽音樂 : NSO 沙發音樂廳</h5>

                                        <p _ngcontent-c1="">【4K精彩呈現】【觀看期限至2024/5/31】今年因應新型冠狀病毒肺炎（COVID-19）疫情嚴重影響表演藝術團隊之演出營收，為維持演出量能，讓樂迷能在線上收看，NSO與國家兩廳院、公共電視台三方聯手，由音樂總監呂紹嘉領軍指揮，共同製播以4K超高畫質全球直播的線上音樂會。NSO安排了適當編制與多元動聽的樂曲與大家共享，希望音樂成為撫慰人心的溫暖陪伴。<br><br>▌管絃織音 <br>▌嬉遊夏夜 <br>▌完全貝多芬<br><br>指揮/呂紹嘉 Shao-Chia Lü, conductor<br>國家交響樂團National Symphony Orchestra<br>指揮／呂紹嘉 <br>演出／國家交響樂團 <br></p>
                                    </div>
                                </div>
                            </a>

                            <a _ngcontent-c1="">
                                <!---->
                                <div _ngcontent-c1="" class="carousel-caption">
                                    <div _ngcontent-c1="">
                                        <h5 _ngcontent-c1="">公視+一起聽音樂 : NSO 沙發音樂廳</h5>

                                        <p _ngcontent-c1="">【4K精彩呈現】【觀看期限至2024/5/31】今年因應新型冠狀病毒肺炎（COVID-19）疫情嚴重影響表演藝術團隊之演出營收，為維持演出量能，讓樂迷能在線上收看，NSO與國家兩廳院、公共電視台三方聯手，由音樂總監呂紹嘉領軍指揮，共同製播以4K超高畫質全球直播的線上音樂會。NSO安排了適當編制與多元動聽的樂曲與大家共享，希望音樂成為撫慰人心的溫暖陪伴。<br><br>▌管絃織音 <br>▌嬉遊夏夜 <br>▌完全貝多芬<br><br>指揮/呂紹嘉 Shao-Chia Lü, conductor<br>國家交響樂團National Symphony Orchestra<br>指揮／呂紹嘉 <br>演出／國家交響樂團 <br></p>
                                    </div>
                                </div>
                            </a>


                            <!---->
                            <!---->
                        </div>
                        <div _ngcontent-c1="" class="carousel-item">

                            <!---->
                            <!----><a _ngcontent-c1="" href="/season/2981f815-de39-4a2f-88ac-cc0cbdc1f0b0">
                                <div _ngcontent-c1="" class="carousel_image_crop">
                                    <img _ngcontent-c1="" class="d-block w-100" src="https://prod-material.ptsplus.tv/series/2-2020624/artworks/key_visual/web/WebItemPage_5.jpg" alt="動物秘密一籮筐2">
                                </div>
                                <div _ngcontent-c1="" class="carousel-caption">
                                    <div _ngcontent-c1="">
                                        <h5 _ngcontent-c1="">動物秘密一籮筐2</h5>

                                        <p _ngcontent-c1="">消暑的間諜系列動物秘密一籮筐回來了，看看在第二季的節目內容中，除了生動有趣的動物間諜攝影機，還有哪些野性在地的可愛動物們的秘密生活，被鏡頭給捕捉到了。走遍全世界從炎炎熱帶，到北方國度，從南方海島到冰雪覆蓋的極地，我們的動物間諜，要揭露驚人的生物面貌並深入牠們的世界。【本節目由於版權限制，設有觀看期限，敬請把握觀看時間】</p>
                                    </div>
                                </div>
                            </a>

                            <a _ngcontent-c1="">
                                <!---->
                                <div _ngcontent-c1="" class="carousel-caption">
                                    <div _ngcontent-c1="">
                                        <h5 _ngcontent-c1="">動物秘密一籮筐2</h5>

                                        <p _ngcontent-c1="">消暑的間諜系列動物秘密一籮筐回來了，看看在第二季的節目內容中，除了生動有趣的動物間諜攝影機，還有哪些野性在地的可愛動物們的秘密生活，被鏡頭給捕捉到了。走遍全世界從炎炎熱帶，到北方國度，從南方海島到冰雪覆蓋的極地，我們的動物間諜，要揭露驚人的生物面貌並深入牠們的世界。【本節目由於版權限制，設有觀看期限，敬請把握觀看時間】</p>
                                    </div>
                                </div>
                            </a>


                            <!---->
                            <!---->
                        </div>
                        <div _ngcontent-c1="" class="carousel-item">

                            <!---->
                            <!----><a _ngcontent-c1="" href="/season/3dc93797-08d7-425e-9681-bd8dab1ebed2">
                                <div _ngcontent-c1="" class="carousel_image_crop">
                                    <img _ngcontent-c1="" class="d-block w-100" src="https://prod-material.ptsplus.tv/series/5-0000000V/artworks/key_visual/web/WebItemPage_釧兒_banner_1920.jpg" alt="釧兒">
                                </div>
                                <div _ngcontent-c1="" class="carousel-caption">
                                    <div _ngcontent-c1="">
                                        <h5 _ngcontent-c1="">釧兒</h5>

                                        <p _ngcontent-c1="">【4K精彩呈現】【觀看期限至10/1】一個不敢搬演《薛平貴與王寶釧》的歌仔戲班，存在著一段大家都不願提及的過往……喪失記憶的團長兒子阿強，只知道歌仔戲讓全家人不快樂；一位年輕女子釧兒，卻每日等在戲台下，期待「身騎白馬」的曲調能再次響起……<br>Reed Unbroken is a story about a Taiwanese Opera troupe which is struggles to survive and a beautiful romance. A-Qiang, the only son of a leading Taiwanese Opera troupe, lost all memory of his love of Taiwanese opera in a tragic accident. Chuan, a mysterious and beautiful woman, stays always at his side, trying to help him recover his memories and his caring for the troupe by watching their favorite opera scene-XUE Ping-gui &amp; WANG Bao-chuan, which is forbidden to perform for many years since the tragic accident.<br></p>
                                    </div>
                                </div>
                            </a>

                            <a _ngcontent-c1="">
                                <!---->
                                <div _ngcontent-c1="" class="carousel-caption">
                                    <div _ngcontent-c1="">
                                        <h5 _ngcontent-c1="">釧兒</h5>

                                        <p _ngcontent-c1="">【4K精彩呈現】【觀看期限至10/1】一個不敢搬演《薛平貴與王寶釧》的歌仔戲班，存在著一段大家都不願提及的過往……喪失記憶的團長兒子阿強，只知道歌仔戲讓全家人不快樂；一位年輕女子釧兒，卻每日等在戲台下，期待「身騎白馬」的曲調能再次響起……<br>Reed Unbroken is a story about a Taiwanese Opera troupe which is struggles to survive and a beautiful romance. A-Qiang, the only son of a leading Taiwanese Opera troupe, lost all memory of his love of Taiwanese opera in a tragic accident. Chuan, a mysterious and beautiful woman, stays always at his side, trying to help him recover his memories and his caring for the troupe by watching their favorite opera scene-XUE Ping-gui &amp; WANG Bao-chuan, which is forbidden to perform for many years since the tragic accident.<br></p>
                                    </div>
                                </div>
                            </a>


                            <!---->
                            <!---->
                        </div>
                        <div _ngcontent-c1="" class="carousel-item">

                            <!---->
                            <!----><a _ngcontent-c1="" href="/season/56171b78-d10b-4fb6-a20e-516e82877581">
                                <div _ngcontent-c1="" class="carousel_image_crop">
                                    <img _ngcontent-c1="" class="d-block w-100" src="https://prod-material.ptsplus.tv/series/2-0000000U/artworks/key_visual/web/WebItemPage_4.jpg" alt="當雞蛋槓上高牆">
                                </div>
                                <div _ngcontent-c1="" class="carousel-caption">
                                    <div _ngcontent-c1="">
                                        <h5 _ngcontent-c1="">當雞蛋槓上高牆</h5>

                                        <p _ngcontent-c1="">【李惠仁作品選集】【8/1起 $129一次揭密】李惠仁，1969年出生於彰化，曾就讀服裝設計系，但在畢業前兩個月因與指導教授理念不合而退學。當兵時進入空軍電影隊，開啟了影像創作世界的大門。退伍後，成為新聞攝影記者和專題製作人。2006年，決定離開熬了四十幾年的媒體界，投入紀錄片拍攝工作。2011以《不能戳的秘密》揭發政府隱匿禽流感疫情，轟動全台。<br>李惠仁導演曾說：「在代表強權的高牆和代表弱勢的雞蛋之間，應該要永遠站在雞蛋那一方，才不會失去獨立報導蘊含的媒體改革理念。」而在他的紀錄片中我們更能看見這樣的精神。追根究柢和為弱勢發聲的精神，讓他在有限的資源下，能一再產出富有社會觀察，且能喚醒大眾思考的紀錄片。<br></p>
                                    </div>
                                </div>
                            </a>

                            <a _ngcontent-c1="">
                                <!---->
                                <div _ngcontent-c1="" class="carousel-caption">
                                    <div _ngcontent-c1="">
                                        <h5 _ngcontent-c1="">當雞蛋槓上高牆</h5>

                                        <p _ngcontent-c1="">【李惠仁作品選集】【8/1起 $129一次揭密】李惠仁，1969年出生於彰化，曾就讀服裝設計系，但在畢業前兩個月因與指導教授理念不合而退學。當兵時進入空軍電影隊，開啟了影像創作世界的大門。退伍後，成為新聞攝影記者和專題製作人。2006年，決定離開熬了四十幾年的媒體界，投入紀錄片拍攝工作。2011以《不能戳的秘密》揭發政府隱匿禽流感疫情，轟動全台。<br>李惠仁導演曾說：「在代表強權的高牆和代表弱勢的雞蛋之間，應該要永遠站在雞蛋那一方，才不會失去獨立報導蘊含的媒體改革理念。」而在他的紀錄片中我們更能看見這樣的精神。追根究柢和為弱勢發聲的精神，讓他在有限的資源下，能一再產出富有社會觀察，且能喚醒大眾思考的紀錄片。<br></p>
                                    </div>
                                </div>
                            </a>


                            <!---->
                            <!---->
                        </div>
                        <div _ngcontent-c1="" class="carousel-item active carousel-item-left">

                            <!---->
                            <!----><a _ngcontent-c1="" href="/season/850985bf-36b1-4e67-8f82-ddbf0b77e5b9">
                                <div _ngcontent-c1="" class="carousel_image_crop">
                                    <img _ngcontent-c1="" class="d-block w-100" src="https://prod-material.ptsplus.tv/series/3-2017905A/artworks/key_visual/web/WebItemPage_200.jpg" alt="吉娃斯愛科學">
                                </div>
                                <div _ngcontent-c1="" class="carousel-caption">
                                    <div _ngcontent-c1="">
                                        <h5 _ngcontent-c1="">吉娃斯愛科學</h5>

                                        <p _ngcontent-c1="">【8/6起 $159玩科學】泰雅族飛鼠部落--吉娃斯是一名個性活潑、充滿熱情的女孩。某天，吉娃斯遇見了獨自居住在古戰場的青年研究員「巴彥」。巴彥教會吉娃斯他們許多科學原理，例如用火把來解說物體燃燒和反應接觸面積的關係；在小溪上築橋時講解結構力學；透過觀察彩虹來理解光的折射等。巴彥在和孩子們的互動中，也喚回了對泰雅文化的記憶；而吉娃斯則在學習科學原理的同時，也漸漸養成了領袖的素質。<br>《吉娃斯愛科學：飛鼠學校》為《吉娃斯愛科學》系列動畫影集的第二季，故事敘述主角吉娃斯為實現夢想，不斷努力吸收新知，期許自己能成為部落的第一個女性領袖。在飛鼠學校中，亦師亦友的部落青年巴彥教導孩子們科學知識，偶爾還有淘氣的小猴子乃奈來攪局——他們有笑有淚的生活故事，讓科學知識變得熱鬧起來。本季新登場角色為來自荷蘭的男孩里昂，他帶來文化的激盪，也讓飛鼠學校發展出更多有趣的科學故事。</p>
                                    </div>
                                </div>
                            </a>

                            <a _ngcontent-c1="">
                                <!---->
                                <div _ngcontent-c1="" class="carousel-caption">
                                    <div _ngcontent-c1="">
                                        <h5 _ngcontent-c1="">吉娃斯愛科學</h5>

                                        <p _ngcontent-c1="">【8/6起 $159玩科學】泰雅族飛鼠部落--吉娃斯是一名個性活潑、充滿熱情的女孩。某天，吉娃斯遇見了獨自居住在古戰場的青年研究員「巴彥」。巴彥教會吉娃斯他們許多科學原理，例如用火把來解說物體燃燒和反應接觸面積的關係；在小溪上築橋時講解結構力學；透過觀察彩虹來理解光的折射等。巴彥在和孩子們的互動中，也喚回了對泰雅文化的記憶；而吉娃斯則在學習科學原理的同時，也漸漸養成了領袖的素質。<br>《吉娃斯愛科學：飛鼠學校》為《吉娃斯愛科學》系列動畫影集的第二季，故事敘述主角吉娃斯為實現夢想，不斷努力吸收新知，期許自己能成為部落的第一個女性領袖。在飛鼠學校中，亦師亦友的部落青年巴彥教導孩子們科學知識，偶爾還有淘氣的小猴子乃奈來攪局——他們有笑有淚的生活故事，讓科學知識變得熱鬧起來。本季新登場角色為來自荷蘭的男孩里昂，他帶來文化的激盪，也讓飛鼠學校發展出更多有趣的科學故事。</p>
                                    </div>
                                </div>
                            </a>


                            <!---->
                            <!---->
                        </div>
                        <div _ngcontent-c1="" class="carousel-item carousel-item-next carousel-item-left">

                            <!---->
                            <!----><a _ngcontent-c1="" href="/channel/11">
                                <div _ngcontent-c1="" class="carousel_image_crop">
                                    <img _ngcontent-c1="" class="d-block w-100" src="https://prod-material.ptsplus.tv/banner/831c0b2d-3679-4101-a41f-64e8f33679eb/artworks/key_visual/web/WebListPage_台語台_banner_1920_final.jpg" alt="台語頻道攏佇遮">
                                </div>
                                <div _ngcontent-c1="" class="carousel-caption">
                                    <div _ngcontent-c1="">
                                        <h5 _ngcontent-c1="">台語頻道攏佇遮</h5>

                                        <p _ngcontent-c1="">台語頻道包含各類型節目,不但可以追劇,還有紀錄片和綜藝節目,像是益智節目#全家有智慧,小朋友最愛的#水果冰淇淋,培養藝術氣息的#畫我台灣,非常適合全家一同收看唷!</p>
                                    </div>
                                </div>
                            </a>

                            <a _ngcontent-c1="">
                                <!---->
                                <div _ngcontent-c1="" class="carousel-caption">
                                    <div _ngcontent-c1="">
                                        <h5 _ngcontent-c1="">台語頻道攏佇遮</h5>

                                        <p _ngcontent-c1="">台語頻道包含各類型節目,不但可以追劇,還有紀錄片和綜藝節目,像是益智節目#全家有智慧,小朋友最愛的#水果冰淇淋,培養藝術氣息的#畫我台灣,非常適合全家一同收看唷!</p>
                                    </div>
                                </div>
                            </a>


                            <!---->
                            <!---->
                        </div>
                    </div>
                    <a _ngcontent-c1="" class="carousel-control-prev" data-slide="prev" href="#pts_carsusel" role="button">
                        <span _ngcontent-c1="" aria-hidden="true" class="carousel-control-prev-icon"></span>
                        <span _ngcontent-c1="" class="sr-only">Previous</span>
                    </a>
                    <a _ngcontent-c1="" class="carousel-control-next" data-slide="next" href="#pts_carsusel" role="button">
                        <span _ngcontent-c1="" aria-hidden="true" class="carousel-control-next-icon"></span>
                        <span _ngcontent-c1="" class="sr-only">Next</span>
                    </a>
                </div>


                <div _ngcontent-c1="" class="container-fluid new_recommend">
                    <div _ngcontent-c1="" class="row item_lists">
                        <!---->
                        <div _ngcontent-c1="">
                            <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                <div _ngcontent-c1="" class="img_hover_effect">
                                    <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                                    <span _ngcontent-c1="" class=""></span>
                                    <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/2-2020055/artworks/posters/web/WebListPage_0.jpg" alt="審判季辛吉">
                                </div>
                                <div _ngcontent-c1="" class="item_info">
                                    <p _ngcontent-c1="" class="item_name">審判季辛吉</p>

                                    <p _ngcontent-c1="" class="item_description">【觀看期限至9/3】「亨利 · 季辛吉是一個戰犯。」駐守華盛頓的英國記者克里斯多弗希鈞斯說著。「他是個騙子，他應該要為謀殺、綁架與虐待負責。」為何希鈞斯敢如此大言不慚？他對目前尚在華盛頓訴訟中的1970年刺殺智利將軍一案進行分析，於此案中季辛吉被控訴授權進行此刺殺行動。再者，他所指的是1969年轟炸柬埔寨的秘密行動中，季辛吉在美國國會不知情的情況下操控全局。又或者，他指的是1975年在季辛吉默許之下，印尼總統蘇哈托使用美國製武器對超過10萬東帝汶人民進行屠殺。<br><br>這些指控，為這位長期被視為當代最優秀外交家的名望抹上一道黑影。這位諾貝爾得主確立了越南的和平，也秘密打開美中關係的管道。超過四分之一世紀的職業生涯，扮演了世界舞台上的主要推手。最近，更被票選為二十世紀最有智慧的公眾人物第一名。<br><br>審判季辛吉一片中，揭露美國政府最新解密的文件中中關鍵人士的採訪，詳細探討控訴他的案件，這位在職場上發光發熱多年的戰略家內心究竟藏著什麼陰暗的秘密？這部影片探討了一位年輕男孩從納粹德國逃離，並成為美國史上最有權勢的人士之一，如今步入人生的晚秋卻成了最受爭議的人物。</p>
                                </div>
                            </a>
                        </div>
                        <div _ngcontent-c1="">
                            <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                <div _ngcontent-c1="" class="img_hover_effect">
                                    <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                                    <span _ngcontent-c1="" class=""></span>
                                    <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/2-2020733/artworks/posters/web/WebListPage_1.jpg" alt="超級野火：著火地球求生指南">
                                </div>
                                <div _ngcontent-c1="" class="item_info">
                                    <p _ngcontent-c1="" class="item_name">超級野火：著火地球求生指南</p>

                                    <p _ngcontent-c1="" class="item_description">【觀看期限至8/28】「野火」自古以來，就是人類歷史與自然生態的一環，甚至是幫助森林循環再生的關鍵角色。然而，全球暖化時代來臨，也讓自古以來的野火生態有了轉變，「超級野火」讓火燒的規模與損害一再推向新高，也破壞了原本大自然與野火間的平衡。<br><br>懂得用火，是人類文明的一大躍進；而懂得防火，更是維繫人類文明的重要技藝。如何用火、防火、打火，與火共存，一直是人類不能迴避的重大議題。從樹木年輪中紀錄的「樹木傳記」，可以看到在演化過程中，樹木學會如何與適度的大火共存，甚至如海岸黑松這類「賴火樹種」還得要靠火，才能完成其生命歷程。野火也是森林再生循環的一部分。<br><br>「火可以既是朋友也是敵人」，原住民「刀耕火種」的火耕方式，巧妙地維繫了森林的平衡。加拿大與美國的許多原住民族，擁有把火當作工具的傳統知識，每年春天，第一民族點燃小火、清理空間，以便進行放牧與耕作，讓森林與開放空間彼此鑲嵌，阻止野火延燒範圍過大。<br><br>「我們放火，因為這也是打火的一部分」，加拿大生態科學家與消防員索尼雅援引原住民的智慧，利用現代科學更新古老傳統。所謂的「策略放火」或稱「控制焚燒」，是傳統火燒法的現代版本，以維持森林的拼貼樣貌，如今在加拿大與美國再次回歸，成為有效的火災預防工具。<br> <br>野火既不可免，也不可少，火不論如何一定會存在，那麼，人類必得學著與之共存。全球暖化下，失控的超級野火猶如咆哮的野獸，人類該如何重新在超級野火的時代，優雅精巧地與野獸共舞？</p>
                                </div>
                            </a>
                        </div>
                        <div _ngcontent-c1="">
                            <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                <div _ngcontent-c1="" class="img_hover_effect">
                                    <p _ngcontent-c1="" class="item_episode">更新至第 39 集</p>
                                    <span _ngcontent-c1="" class=""></span>
                                    <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/4-2020342/artworks/posters/web/WebListPage_36題愛上你_節目頁圖.png" alt="36題愛上你">
                                </div>
                                <div _ngcontent-c1="" class="item_info">
                                    <p _ngcontent-c1="" class="item_name">36題愛上你</p>

                                    <p _ngcontent-c1="" class="item_description">【每周一~三 晚間21:00上架】在這個相互攻訐、彼此撕裂的年代，我們嘗試以促進瞭解的方式，讓我們坦承分享，希望在互相理解之後，一起找回愛的力量。<br>這是一檔實境談話節目，主持人化身出題者，量身打造出36道問題，在一個小時的時間內，受訪者要接受這36道題的提問，是坦誠？或是閃避？是掏心？或是抗拒？決定了受訪者，是否能被瞭解、被體諒、被愛上⋯⋯。<br>根據心理學家阿瑟·亞倫(Arthur Aron)的研究，兩個陌生人，以特別設計的36個問題互相詢問，可以讓親密關係昇溫，甚至可能愛上彼此。<br>同樣的原理、不同的邏輯，討厭的人，你會愛上他；喜歡的人，你會更瞭解他。現在，我們即將問出36道問題，之後～討厭的人，你會愛上他；喜歡的人，你會更瞭解他。【本節目由於版權限制，設有觀看期限，敬請把握觀看時間】</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>


                <!---->
                <div _ngcontent-c1="" class="container curating">
                    <div _ngcontent-c1="" class="row">
                        <h3 _ngcontent-c1="">熱門推薦</h3>
                    </div>
                    <div _ngcontent-c1="" class="row curating_tabbar">
                        <ul _ngcontent-c1="">
                            <!---->
                            <li _ngcontent-c1="" class="tabbar_active">
                                限時賞味
                            </li>
                            <li _ngcontent-c1="">
                                追劇追不完
                            </li>
                        </ul>
                    </div>
                    <!---->
                    <div _ngcontent-c1="" class="curating_block d-block">
                        <div _ngcontent-c1="" class="row">
                            <h3 _ngcontent-c1=""><a _ngcontent-c1="" href="/banner-more/BANNER_04">限時賞味</a></h3>
                        </div>
                        <div _ngcontent-c1="" class="row item_lists series">
                            <!---->
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/2-2019943/artworks/posters/web/WebListPage_騎鐵馬遊日本_NN.jpg" alt="騎鐵馬遊日本">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">騎鐵馬遊日本</p>
                                        <p _ngcontent-c1="" class="item_episode">更新至第 26 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/3-2016772/artworks/posters/web/WebListPage_甜心兔.jpg" alt="甜心兔">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">甜心兔</p>
                                        <p _ngcontent-c1="" class="item_episode">更新至第 163 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/3-00000602020/artworks/posters/web/WebListPage_1.png" alt="水果冰淇淋2020">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">水果冰淇淋2020</p>
                                        <p _ngcontent-c1="" class="item_episode">更新至第 2306 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/1-2020647/artworks/posters/web/WebListPage_3.jpg" alt="朵朵嫣紅">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">朵朵嫣紅</p>
                                        <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/2-2020055/artworks/posters/web/WebListPage_0.jpg" alt="審判季辛吉">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">審判季辛吉</p>
                                        <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/3-2020314/artworks/posters/web/WebListPage_0.png" alt="波比貓 第二季">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">波比貓 第二季</p>
                                        <p _ngcontent-c1="" class="item_episode">更新至第 40 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/3-2019823/artworks/posters/web/WebListPage_少年阿貝.jpg" alt="少年阿貝Go!Go!小芝麻">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">少年阿貝Go!Go!小芝麻</p>
                                        <p _ngcontent-c1="" class="item_episode">更新至第 64 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/3-2020087/artworks/posters/web/WebListPage_世界村說故事.jpg" alt="世界村說故事">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">世界村說故事</p>
                                        <p _ngcontent-c1="" class="item_episode">全 27 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/3-2020493/artworks/posters/web/WebListPage_000.jpg" alt="我的雲朵朋友呼呼">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">我的雲朵朋友呼呼</p>
                                        <p _ngcontent-c1="" class="item_episode">更新至第 52 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/2-2020624/artworks/posters/web/WebListPage_1.jpg" alt="動物秘密一籮筐2">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">動物秘密一籮筐2</p>
                                        <p _ngcontent-c1="" class="item_episode">更新至第 3 集</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div _ngcontent-c1="" class="row">
                            <a _ngcontent-c1="" class="see_more" href="/banner-more/BANNER_04">看更多&gt;&gt;</a>
                        </div>
                    </div>
                    <div _ngcontent-c1="" class="curating_block">
                        <div _ngcontent-c1="" class="row">
                            <h3 _ngcontent-c1=""><a _ngcontent-c1="" href="/banner-more/BANNER_05">追劇追不完</a></h3>
                        </div>
                        <div _ngcontent-c1="" class="row item_lists series">
                            <!---->
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/1-2018721/artworks/posters/web/WebListPage_婆婆_節目頁.png" alt="我的婆婆怎麼那麼可愛">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">我的婆婆怎麼那麼可愛</p>
                                        <p _ngcontent-c1="" class="item_episode">更新至第 24 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/1-2004079/artworks/posters/web/WebListPage_12.jpg" alt="住左邊住右邊">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">住左邊住右邊</p>
                                        <p _ngcontent-c1="" class="item_episode">全 36 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/1-2019971/artworks/posters/web/WebListPage_路_節目頁.png" alt="路~台灣Express~">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">路~台灣Express~</p>
                                        <p _ngcontent-c1="" class="item_episode">全 3 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/1-2018519/artworks/posters/web/WebListPage_我們與惡的距離_節目圖_2.png" alt="我們與惡的距離">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">我們與惡的距離</p>
                                        <p _ngcontent-c1="" class="item_episode">全 10 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/1-2018758/artworks/posters/web/WebListPage_妖怪人間_節目圖_nnnew.png" alt="妖怪人間">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">妖怪人間</p>
                                        <p _ngcontent-c1="" class="item_episode">全 8 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/1-2018781/artworks/posters/web/WebListPage_糖糖online_節目圖.png" alt="糖糖Online">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">糖糖Online</p>
                                        <p _ngcontent-c1="" class="item_episode">全 13 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/1-2017869/artworks/posters/web/WebListPage_憤怒的菩薩_節目頁圖.png" alt="憤怒的菩薩">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">憤怒的菩薩</p>
                                        <p _ngcontent-c1="" class="item_episode">全 4 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/1-2016284/artworks/posters/web/WebListPage_凌晨2點45分_節目頁圖.png" alt="凌晨2點45分">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">凌晨2點45分</p>
                                        <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/1-2018573/artworks/posters/web/WebListPage_賽歌賽鴿_節目頁圖.png" alt="賽鴿賽歌">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">賽鴿賽歌</p>
                                        <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/1-2007484/artworks/posters/web/WebListPage_木棉的印記_節目頁圖_n.png" alt="木棉的印記">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">木棉的印記</p>
                                        <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div _ngcontent-c1="" class="row">
                            <a _ngcontent-c1="" class="see_more" href="/banner-more/BANNER_05">看更多&gt;&gt;</a>
                        </div>
                    </div>

                </div>



                <!---->
                <div _ngcontent-c1="" class="container curating">
                    <div _ngcontent-c1="" class="row">
                        <h3 _ngcontent-c1="">精彩時刻</h3>
                    </div>
                    <div _ngcontent-c1="" class="row curating_tabbar">
                        <ul _ngcontent-c1="">
                            <!---->
                            <li _ngcontent-c1="" class="tabbar_active">
                                兒少/生活
                            </li>
                            <li _ngcontent-c1="">
                                追劇30分
                            </li>
                            <li _ngcontent-c1="">
                                藝文/紀錄
                            </li>
                        </ul>
                    </div>
                    <!---->
                    <div _ngcontent-c1="" class="curating_block d-block">
                        <div _ngcontent-c1="" class="row">
                            <h3 _ngcontent-c1=""><a _ngcontent-c1="" href="/banner-more/BANNER_06">兒少/生活</a></h3>
                        </div>
                        <div _ngcontent-c1="" class="row item_lists series">
                            <!---->
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/3-2019763/artworks/posters/web/WebListPage_12.jpg" alt="Food超人2(台語版)">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">Food超人2(台語版)</p>
                                        <p _ngcontent-c1="" class="item_episode">更新至第 14 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class="item_tvod_tag"></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/3-2017905A/artworks/posters/web/WebListPage_4.jpg" alt="吉娃斯愛科學">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">吉娃斯愛科學</p>
                                        <p _ngcontent-c1="" class="item_episode">全 26 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/3-2016772/artworks/posters/web/WebListPage_甜心兔.jpg" alt="甜心兔">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">甜心兔</p>
                                        <p _ngcontent-c1="" class="item_episode">更新至第 163 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/4-2019627B/artworks/posters/web/WebListPage_5.jpg" alt="旺來西瓜仙拚仙2">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">旺來西瓜仙拚仙2</p>
                                        <p _ngcontent-c1="" class="item_episode">更新至第 71 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/4-2019727C/artworks/posters/web/WebListPage_10.jpg" alt="全家有智慧3">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">全家有智慧3</p>
                                        <p _ngcontent-c1="" class="item_episode">更新至第 101 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/4-2019463B/artworks/posters/web/WebListPage_11.jpg" alt="無事坐巴士2">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">無事坐巴士2</p>
                                        <p _ngcontent-c1="" class="item_episode">更新至第 59 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/4-2020505/artworks/posters/web/WebListPage_12.jpg" alt="誰來晚餐12">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">誰來晚餐12</p>
                                        <p _ngcontent-c1="" class="item_episode">更新至第 3 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/2-2020373/artworks/posters/web/WebListPage_01.jpg" alt="上臺語">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">上臺語</p>
                                        <p _ngcontent-c1="" class="item_episode">更新至第 9 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/3-2020455A/artworks/posters/web/WebListPage_0300.jpg" alt="熊星人衝啦">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">熊星人衝啦</p>
                                        <p _ngcontent-c1="" class="item_episode">全 8 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/3-2019592/artworks/posters/web/WebListPage_300.png" alt="青春發言人3">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">青春發言人3</p>
                                        <p _ngcontent-c1="" class="item_episode">更新至第 25 集</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div _ngcontent-c1="" class="row">
                            <a _ngcontent-c1="" class="see_more" href="/banner-more/BANNER_06">看更多&gt;&gt;</a>
                        </div>
                    </div>
                    <div _ngcontent-c1="" class="curating_block">
                        <div _ngcontent-c1="" class="row">
                            <h3 _ngcontent-c1=""><a _ngcontent-c1="" href="/banner-more/BANNER_07">追劇30分</a></h3>
                        </div>
                        <div _ngcontent-c1="" class="row item_lists series">
                            <!---->
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/1-2020647/artworks/posters/web/WebListPage_3.jpg" alt="朵朵嫣紅">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">朵朵嫣紅</p>
                                        <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/1-2019437B/artworks/posters/web/WebListPage_燒肉粽_Banner_700.png" alt="燒肉粽2019">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">燒肉粽2019</p>
                                        <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/1-2019437D/artworks/posters/web/WebListPage_阿嬤的秘密_Banner_700.png" alt="阿嬤的秘密">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">阿嬤的秘密</p>
                                        <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/1-2019437C/artworks/posters/web/WebListPage_前世情人的情人_節目頁圖.png" alt="前世情人的情人">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">前世情人的情人</p>
                                        <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/1-2019437A/artworks/posters/web/WebListPage_隨片登台_Banner_700.png" alt="隨片登台">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">隨片登台</p>
                                        <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/1-2018231/artworks/posters/web/WebListPage_年尾巴.png" alt="年尾巴">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">年尾巴</p>
                                        <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/1-2019597/artworks/posters/web/WebListPage_編劇頭很痛.png" alt="編劇頭很痛">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">編劇頭很痛</p>
                                        <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/1-2019595/artworks/posters/web/WebListPage_第一鮪.png" alt="第一鮪">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">第一鮪</p>
                                        <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/1-2019599/artworks/posters/web/WebListPage_大吉.png" alt="大吉">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">大吉</p>
                                        <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/1-2019596/artworks/posters/web/WebListPage_潘朵拉.png" alt="潘朵拉">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">潘朵拉</p>
                                        <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div _ngcontent-c1="" class="row">
                            <a _ngcontent-c1="" class="see_more" href="/banner-more/BANNER_07">看更多&gt;&gt;</a>
                        </div>
                    </div>
                    <div _ngcontent-c1="" class="curating_block">
                        <div _ngcontent-c1="" class="row">
                            <h3 _ngcontent-c1=""><a _ngcontent-c1="" href="/banner-more/BANNER_08">藝文/紀錄</a></h3>
                        </div>
                        <div _ngcontent-c1="" class="row item_lists series">
                            <!---->
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/5-0000000X/artworks/posters/web/WebListPage_沙發音樂廳_節目頁.jpg" alt="公視+一起聽音樂 : NSO 沙發音樂廳">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">公視+一起聽音樂 : NSO 沙發音樂廳</p>
                                        <p _ngcontent-c1="" class="item_episode">全 3 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/2-2004877/artworks/posters/web/WebListPage_4.jpg" alt="李登輝">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">李登輝</p>
                                        <p _ngcontent-c1="" class="item_episode">全 3 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/5-0000000V/artworks/posters/web/WebListPage_6.jpg" alt="釧兒">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">釧兒</p>
                                        <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/2-2020624/artworks/posters/web/WebListPage_1.jpg" alt="動物秘密一籮筐2">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">動物秘密一籮筐2</p>
                                        <p _ngcontent-c1="" class="item_episode">更新至第 3 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class="item_tvod_tag"></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/2-0000000U/artworks/posters/web/WebListPage_2.jpg" alt="當雞蛋槓上高牆">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">當雞蛋槓上高牆</p>
                                        <p _ngcontent-c1="" class="item_episode">全 6 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/2-2020055/artworks/posters/web/WebListPage_0.jpg" alt="審判季辛吉">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">審判季辛吉</p>
                                        <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/2-2020749/artworks/posters/web/WebListPage_10.jpg" alt="讓愛傳下去—2019吳尊賢愛心獎">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">讓愛傳下去—2019吳尊賢愛心獎</p>
                                        <p _ngcontent-c1="" class="item_episode">更新至第 3 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/5-2012420/artworks/posters/web/WebListPage_2.jpg" alt="原色">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">原色</p>
                                        <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/2-2020654/artworks/posters/web/WebListPage_7.jpg" alt="最初的忠烈祠，最後的神社">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">最初的忠烈祠，最後的神社</p>
                                        <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                                    </div>
                                </a>
                            </div>
                            <div _ngcontent-c1="">
                                <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                                    <div _ngcontent-c1="" class="img_hover_effect">
                                        <span _ngcontent-c1="" class=""></span>
                                        <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/2-2019851/artworks/posters/web/WebListPage_1023水底世界奧爾達水晶洞.MXF_20191028_142157.273.jpg" alt="水底世界:奧爾達水晶洞">
                                    </div>
                                    <div _ngcontent-c1="" class="item_info">
                                        <p _ngcontent-c1="" class="item_name">水底世界:奧爾達水晶洞</p>
                                        <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div _ngcontent-c1="" class="row">
                            <a _ngcontent-c1="" class="see_more" href="/banner-more/BANNER_08">看更多&gt;&gt;</a>
                        </div>
                    </div>

                </div>



                <!---->
                <div _ngcontent-c1="" class="container live_series">
                    <a _ngcontent-c1="" href="/live/5226799c-554e-438f-a59e-ea36ff3b0329">
                        <div _ngcontent-c1="" class="row">
                            <div _ngcontent-c1="" class="col-md-5">
                                <div _ngcontent-c1="" class="img_hover_effect">
                                    <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/liveshow/5226799c-554e-438f-a59e-ea36ff3b0329/artworks/posters/web/WebListPage_1920.jpg" alt="109年臺灣原創流行音樂大獎決賽暨頒獎典禮">
                                </div>
                            </div>
                            <div _ngcontent-c1="" class="col-md-7">
                                <span _ngcontent-c1="" class="item_label"></span>
                                <p _ngcontent-c1="" class="item_name">109年臺灣原創流行音樂大獎決賽暨頒獎典禮</p>
                                <p _ngcontent-c1="" class="item_description">2020/08/26 起, 每週 六 13:00 直播 </p>
                                <p _ngcontent-c1="" class="item_description">最具指標性的母語音樂創作大賽，最後冠軍獎落誰家 8/29LIVE揭曉 ▪直播時間 8/29 (六) 13:00～19:00 ▪演出嘉賓 BCW｜ 葛西瓦 ▪主持人 高蕾雅｜ 徐哲緯｜ 邵大倫</p>
                                <p _ngcontent-c1="" class="text-right pt-md-3">
                                    <button _ngcontent-c1="" class="btn btn-outline-primary" type="button">立即前往</button>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>

                <br _ngcontent-c1="">



                <div _ngcontent-c1="" aria-hidden="true" aria-labelledby="popupModalLabel" class="modal fade" id="popupModalError" role="dialog" tabindex="-1">
                    <div _ngcontent-c1="" class="modal-dialog" role="document">
                        <div _ngcontent-c1="" class="modal-content">
                            <div _ngcontent-c1="" class="modal-header">
                                <h5 _ngcontent-c1="" class="modal-title" id="popupModalLabel">警告</h5>

                            </div>
                            <div _ngcontent-c1="" class="modal-body">
                                <p _ngcontent-c1=""></p>
                            </div>
                            <div _ngcontent-c1="" class="modal-footer">
                                <button _ngcontent-c1="" class="btn btn-outline-primary" data-dismiss="modal" data-toggle="modal" type="button">關閉</button>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <app-footer _ngcontent-c1="" _nghost-c3="">
                <footer _ngcontent-c3="">
                    <div _ngcontent-c3="" class="container">
                        <div _ngcontent-c3="" class="row">
                            <div _ngcontent-c3="" class="col-md-4 order-md-0 order-3">
                                <div _ngcontent-c3="" class="pts_info">
                                    <a _ngcontent-c3="" class="pts_info_logo" href="#"><img _ngcontent-c3="" alt="" src="/ptsplus_dejavu/assets/image/pts_logo_l.png"></a>
                                    <h6 _ngcontent-c3="">財團法人公共電視文化事業基金會</h6>

                                    <p _ngcontent-c3="">地址：114 台北市內湖區康寧路三段 75 巷 50 號</p>
                                    <p _ngcontent-c3="">Public Television Service Foundation. All Rights Reserved.</p>
                                    <p _ngcontent-c3="">Version: 1.0.0.218</p>
                                </div>
                            </div>
                            <div _ngcontent-c3="" class="col-md-4 order-md-1 order-2">
                                <h6 _ngcontent-c3="">相關連結</h6>
                                <ul _ngcontent-c3="" class="footer_link">
                                    <!---->
                                    <li _ngcontent-c3="">
                                        <a _ngcontent-c3="" href="/terms">
                                            公視+服務條款</a>
                                    </li>
                                    <li _ngcontent-c3="">
                                        <a _ngcontent-c3="" href="/privacy">
                                            隱私權政策</a>
                                    </li>
                                    <li _ngcontent-c3="">
                                        <a _ngcontent-c3="" href="/subscriber">
                                            iOS使用者需知</a>
                                    </li>
                                    <li _ngcontent-c3="">
                                        <a _ngcontent-c3="" href="/media-question">
                                            影音播放問題</a>
                                    </li>
                                    <li _ngcontent-c3="">
                                        <a _ngcontent-c3="" href="/guide">
                                            優惠代碼使用條款</a>
                                    </li>
                                    <li _ngcontent-c3="">
                                        <a _ngcontent-c3="" href="/about">
                                            關於公視+</a>
                                    </li>
                                    <li _ngcontent-c3="">
                                        <a _ngcontent-c3="" href="/other-question">
                                            其他常見問題</a>
                                    </li>
                                    <li _ngcontent-c3="">
                                        <a _ngcontent-c3="" href="/site-service">
                                            會員權利與義務</a>
                                    </li>
                                    <li _ngcontent-c3="">
                                        <a _ngcontent-c3="" href="/member-rules">
                                            個人資料保護政策</a>
                                    </li>

                                </ul>
                            </div>
                            <div _ngcontent-c3="" class="col-md-2 order-md-2 order-0">
                                <h6 _ngcontent-c3="">下載APP</h6>
                                <div _ngcontent-c3="" class="download_badge">
                                    <a _ngcontent-c3="" href="https://play.google.com/store/apps/details?id=com.ptsplus.app">
                                        <img _ngcontent-c3="" alt="在google play下載公視＋" src="/ptsplus_dejavu/assets/image/google-play.png">
                                    </a>
                                    <a _ngcontent-c3="" href="#">
                                        <img _ngcontent-c3="" alt="在app store下載公視＋" src="/ptsplus_dejavu/assets/image/app-store.png">
                                    </a>
                                </div>
                            </div>
                            <div _ngcontent-c3="" class="col-md-2 order-md-3 order-1">
                                <h6 _ngcontent-c3="">社群分享</h6>

                                <div _ngcontent-c3="" class="fb_btn_qroup">
                                    <a _ngcontent-c3="" href="javascript:void(0)" target="popup">
                                        <span _ngcontent-c3="" class="fb_share">分享</span>
                                    </a>
                                    <a _ngcontent-c3="" href="https://www.facebook.com/ptsplustw/" target="_blank"><span _ngcontent-c3="" class="fb_fan_page">粉絲頁</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </app-footer>


            <ngx-loading _ngcontent-c1="" _nghost-c4="">
                <!---->
                <!---->
            </ngx-loading>
        </app-home>
    </app-root>
