<!-- ! 測試影片播放
<video id="vid1" class="video-js vjs-default-skin vjs-big-play-centered" data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/watch?v=LGrpsZ7BsQA"}] }'>
</video>

<div class="menuContainer">
    <div class="menuWrapper">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <video id="vid2" class="video-js vjs-default-skin vjs-big-play-centered" data-setup='{"fluid": true, "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/watch?v=ggrkh-IX34Q"}] }'>
                </video>
            </div>
        </div>
    </div>
</div>
-->