<app-header _ngcontent-c5="" _nghost-c2="">
    <header _ngcontent-c2="">
        <nav _ngcontent-c2="" class="navbar fixed-top navbar-light bg-light navbar-expand-md"><button _ngcontent-c2="" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" data-target="#navbarSupportedContent" data-toggle="collapse" type="button" class="navbar-toggler"><span _ngcontent-c2="" class="navbar-toggler-icon"></span></button> <a _ngcontent-c2="" routerlink="/" href="/" class="navbar-brand"><img _ngcontent-c2="" alt="" src=<%- url_for('/image/pts_logo_l.png') %>></a>
            <div _ngcontent-c2="" id="navbarSupportedContent" class="collapse navbar-collapse">
                <form v-on:submit.prevent="onSearch" _ngcontent-c2="" novalidate="novalidate" class="form-inline col-md-3 ng-untouched ng-pristine ng-valid"><input v-model="trySearch" _ngcontent-c2="" aria-label="Search" placeholder="" type="search" class="form-control col-md-12"> <button _ngcontent-c2="" type="submit" class="btn btn-outline-primary">搜尋</button></form>
                <ul _ngcontent-c2="" class="navbar-nav">
                    <li _ngcontent-c2="" class="nav-item"><a _ngcontent-c2="" class="nav-link disabled_href">頻道</a>
                        <!--<div _ngcontent-c2="" id="category_lists">
                            <ul _ngcontent-c2="">
                                <li _ngcontent-c2=""><a _ngcontent-c2="" routerlink="/live" href="/live"><i _ngcontent-c2="" class="fab fa-adn"></i> <span _ngcontent-c2="" class="category_title">直播</span></a></li>
                                <li _ngcontent-c2=""><a _ngcontent-c2="" href="/channel/1"><i _ngcontent-c2="" class="fas fa-coffee"></i> <span _ngcontent-c2="" class="category_title">戲劇</span></a></li>
                                <li _ngcontent-c2=""><a _ngcontent-c2="" href="/channel/2"><i _ngcontent-c2="" class="fas fa-receipt"></i> <span _ngcontent-c2="" class="category_title">紀錄片</span></a></li>
                                <li _ngcontent-c2=""><a _ngcontent-c2="" href="/channel/3"><i _ngcontent-c2="" class="fas fa-cocktail"></i> <span _ngcontent-c2="" class="category_title">藝文</span></a></li>
                                <li _ngcontent-c2=""><a _ngcontent-c2="" href="/channel/5"><i _ngcontent-c2="" class="fas fa-couch"></i> <span _ngcontent-c2="" class="category_title">生活</span></a></li>
                                <li _ngcontent-c2=""><a _ngcontent-c2="" href="/channel/6"><i _ngcontent-c2="" class="fas fa-heart"></i> <span _ngcontent-c2="" class="category_title">點點愛</span></a></li>
                                <li _ngcontent-c2=""><a _ngcontent-c2="" href="/channel/7"><i _ngcontent-c2="" class="far fa-clock"></i> <span _ngcontent-c2="" class="category_title">限時賞味</span></a></li>
                                <li _ngcontent-c2=""><a _ngcontent-c2="" href="/channel/11"><i _ngcontent-c2="" class="fas fa-comments"></i> <span _ngcontent-c2="" class="category_title">台語頻道</span></a></li>
                                <li _ngcontent-c2=""><a _ngcontent-c2="" href="/channel/14"><i _ngcontent-c2="" class="far fa-gem"></i> <span _ngcontent-c2="" class="category_title">公視表演廳精選</span></a></li>
                                <li _ngcontent-c2=""><a _ngcontent-c2="" href="/channel/4"><i _ngcontent-c2="" class="fas fa-child"></i> <span _ngcontent-c2="" class="category_title">兒少精選推薦</span></a></li>
                                <li _ngcontent-c2=""><a _ngcontent-c2="" href="/channel/15"><i _ngcontent-c2="" class="fas fa-seedling"></i> <span _ngcontent-c2="" class="category_title">台灣國際兒童影展</span></a></li>
                                <li _ngcontent-c2=""><a _ngcontent-c2="" href="/channel/10"><i _ngcontent-c2="" class="fas fa-crown"></i> <span _ngcontent-c2="" class="category_title">金鐘特搜</span></a></li>
                            </ul>
                        </div>-->
                    </li>
                    <li _ngcontent-c2="" class="nav-item registered"><a _ngcontent-c2="" class="nav-link disabled_href">
                            <div _ngcontent-c2="" class="member_info">
                                <div _ngcontent-c2="" class="profile_image"><img _ngcontent-c2="" alt="" src=<%- url_for('/image/member_profile_image.png') %>></div>
                                <div _ngcontent-c2="" class="member_name">{{ loginName }}</div>
                            </div>
                        </a></li>
                    <li _ngcontent-c2="" class="nav-item btn_vip_plan"><a _ngcontent-c2="" href=<%- url_for('/payment-step-1.html') %> class="nav-link">方案介紹</a></li>
                </ul>
            </div>
        </nav>
    </header>
</app-header>
