<app-footer _ngcontent-c5="" _nghost-c3="">
    <footer _ngcontent-c3="">
        <div _ngcontent-c3="" class="container">
            <div _ngcontent-c3="" class="row">
                <div _ngcontent-c3="" class="col-md-4 order-md-0 order-3">
                    <div _ngcontent-c3="" class="pts_info"><a _ngcontent-c3="" href="#" class="pts_info_logo"><img _ngcontent-c3="" alt="" src=<%- url_for('/image/pts_logo_l.png') %>></a>
                        <h6 _ngcontent-c3="">財團法人公共電視文化事業基金會</h6>
                        <p _ngcontent-c3="">地址：114 台北市內湖區康寧路三段 75 巷 50 號</p>
                        <p _ngcontent-c3="">Public Television Service Foundation. All Rights Reserved.</p>
                        <p _ngcontent-c3="">Version: 1.0.0.218</p>
                    </div>
                </div>
                <div _ngcontent-c3="" class="col-md-4 order-md-1 order-2">
                    <h6 _ngcontent-c3="">相關連結</h6>
                    <ul _ngcontent-c3="" class="footer_link">
                        <li _ngcontent-c3=""><a _ngcontent-c3="" href="https://www.ptsplus.tv/terms">
                                公視+服務條款</a></li>
                        <li _ngcontent-c3=""><a _ngcontent-c3="" href="https://www.ptsplus.tv/privacy">
                                隱私權政策</a></li>
                        <li _ngcontent-c3=""><a _ngcontent-c3="" href="https://www.ptsplus.tv/subscriber">
                                iOS使用者需知</a></li>
                        <li _ngcontent-c3=""><a _ngcontent-c3="" href="https://www.ptsplus.tv/media-question">
                                影音播放問題</a></li>
                        <li _ngcontent-c3=""><a _ngcontent-c3="" href="https://www.ptsplus.tv/guide">
                                優惠代碼使用條款</a></li>
                        <li _ngcontent-c3=""><a _ngcontent-c3="" href="https://www.ptsplus.tv/about">
                                關於公視+</a></li>
                        <li _ngcontent-c3=""><a _ngcontent-c3="" href="https://www.ptsplus.tv/other-question">
                                其他常見問題</a></li>
                        <li _ngcontent-c3=""><a _ngcontent-c3="" href="https://www.ptsplus.tv/site-service">
                                會員權利與義務</a></li>
                        <li _ngcontent-c3=""><a _ngcontent-c3="" href="https://www.ptsplus.tv/member-rules">
                                個人資料保護政策</a></li>
                    </ul>
                </div>
                <div _ngcontent-c3="" class="col-md-2 order-md-2 order-0">
                    <h6 _ngcontent-c3="">下載APP</h6>
                    <div _ngcontent-c3="" class="download_badge"><a _ngcontent-c3="" target="_blank" rel="noopener" href="https://play.google.com/store/apps/details?id=com.ptsplus.app"><img _ngcontent-c3="" alt="在google play下載公視＋" src=<%- url_for('/image/google-play.png') %>></a> <a _ngcontent-c3="" href="#"><img _ngcontent-c3="" alt="在app store下載公視＋" src=<%- url_for('/image/app-store.png') %>></a></div>
                </div>
                <div _ngcontent-c3="" class="col-md-2 order-md-3 order-1">
                    <h6 _ngcontent-c3="">社群分享</h6>
                    <div _ngcontent-c3="" class="fb_btn_qroup"><a _ngcontent-c3="" href="javascript:void(0)" target="popup"><span _ngcontent-c3="" class="fb_share">分享</span></a> <a _ngcontent-c3="" href="https://www.facebook.com/ptsplustw/" target="_blank"><span _ngcontent-c3="" class="fb_fan_page">粉絲頁</span></a></div>
                </div>
            </div>
        </div>
    </footer>
</app-footer>
