<main _ngcontent-c5="" class="video_page">
    <div _ngcontent-c5="" class="container">
        <div _ngcontent-c5="" class="row">
            <div _ngcontent-c5="" class="col-md-9">
                <h1 _ngcontent-c5="" class="series_name">公共電視 網路直播 PTS Live</h1>
            </div>
        </div>
    </div>
    <div _ngcontent-c5="" class="container">
        <div _ngcontent-c5="" class="row">
            <div _ngcontent-c5="" class="col-md-9">
                <app-live-player _ngcontent-c5="" _nghost-c6=""><div _ngcontent-c6="" class="page_cover_image" id="videoSection">
    <!----><div _ngcontent-c6="" class="btn_play" id="btn_play_icon">
    </div>
    <!----><img _ngcontent-c6="" src="ptspIus.tv/image/WebListPage_WebListPage_公視直播_直播列表Web.jpg" alt="公共電視 網路直播 PTS Live">
</div>


<div _ngcontent-c6="" aria-hidden="true" aria-labelledby="popupModalLabel" class="modal fade" id="popupModal" role="dialog" tabindex="-1">
    <div _ngcontent-c6="" class="modal-dialog" role="document">
    <div _ngcontent-c6="" class="modal-content">
        <div _ngcontent-c6="" class="modal-header">
        <h5 _ngcontent-c6="" class="modal-title" id="popupModalLabel">尚未開始</h5>
        <button _ngcontent-c6="" aria-label="Close" class="close" data-dismiss="modal" type="button"><span _ngcontent-c6="" aria-hidden="true"></span></button>
        </div>
        <div _ngcontent-c6="" class="modal-body">
        <p _ngcontent-c6="">直播將於開始時間: 2018/07/30 00:00</p>
        </div>
        <div _ngcontent-c6="" class="modal-footer">
        <button _ngcontent-c6="" class="btn btn-outline-primary" data-dismiss="modal">OK</button>
        </div>
    </div>
    </div>
</div>


<div _ngcontent-c6="" aria-hidden="true" aria-labelledby="checkLoginPopupModalLabel" class="modal fade" id="checkLoginPopupModal" role="dialog" tabindex="-1">
    <div _ngcontent-c6="" class="modal-dialog" role="document">
    <div _ngcontent-c6="" class="modal-content">
        <div _ngcontent-c6="" class="modal-header">
        <h5 _ngcontent-c6="" class="modal-title" id="checkLoginPopupModalLabel">尚未登入</h5>
        <button _ngcontent-c6="" aria-label="Close" class="close" data-dismiss="modal" type="button"><span _ngcontent-c6="" aria-hidden="true"></span></button>
        </div>
        <div _ngcontent-c6="" class="modal-body">
            <p _ngcontent-c6="">請問您要登入嗎？</p>
        </div>
        <div _ngcontent-c6="" class="modal-footer">
            <button _ngcontent-c6="" class="btn btn-outline-primary" data-dismiss="modal" tabindex="0">是</button>
            <button _ngcontent-c6="" class="btn btn-outline-primary" data-dismiss="modal">否</button>
        </div>
    </div>
    </div>
</div>


<div _ngcontent-c6="" aria-hidden="true" aria-labelledby="errorPopupModalLabel" class="modal fade" id="errorPopupModal" role="dialog" tabindex="-1">
        <div _ngcontent-c6="" class="modal-dialog" role="document">
        <div _ngcontent-c6="" class="modal-content">
            <div _ngcontent-c6="" class="modal-header">
            <h5 _ngcontent-c6="" class="modal-title" id="errorPopupModalLabel"></h5>
            
            </div>
            <div _ngcontent-c6="" class="modal-body">
                <p _ngcontent-c6=""></p>
            </div>
            <div _ngcontent-c6="" class="modal-footer">
                <button _ngcontent-c6="" class="btn btn-outline-primary" data-dismiss="modal">確定</button>
            </div>
        </div>
        </div>
    </div>

<app-remind-update-email-dialog _ngcontent-c6="" _nghost-c7=""><div _ngcontent-c7="" aria-hidden="true" aria-labelledby="emailValidPopupModalLabel" class="modal fade" id="emailValidPopupModal" role="dialog" tabindex="-1">
    <div _ngcontent-c7="" class="modal-dialog" role="document">
    <div _ngcontent-c7="" class="modal-content">
        <div _ngcontent-c7="" class="modal-header">
        <h5 _ngcontent-c7="" class="modal-title" id="emailValidPopupModalLabel">尚未驗證</h5>
        <button _ngcontent-c7="" aria-label="Close" class="close" data-dismiss="modal" type="button"><span _ngcontent-c7="" aria-hidden="true"></span></button>
        </div>
        <div _ngcontent-c7="" class="modal-body">
            <p _ngcontent-c7="">請進行 Email 認證，按下『確定』後，將幫您轉至『個人資料』頁，方可更改 Email，更改完畢後，系統將傳送一封認證信至您的信箱，再請您進行後續認證．</p>
        </div>
        <div _ngcontent-c7="" class="modal-footer">
            <button _ngcontent-c7="" class="btn btn-outline-primary" data-dismiss="modal" tabindex="0">確定</button>
        </div>
    </div>
    </div>
</div>
</app-remind-update-email-dialog>
</app-live-player>
                <div _ngcontent-c5="" class="page_action">
                    <div _ngcontent-c5="">
                        <div _ngcontent-c5="" class="series_description">開始時間: 2018/07/30 00:00</div>
                    </div>
                    <div _ngcontent-c5="">
                        <a _ngcontent-c5="" href="javascript:void(0)" target="popup">
                            <div _ngcontent-c5="" class="btn_share"></div>
                        </a>
                        <div _ngcontent-c5="" class="label_graded graded_0"></div>
                    </div>
                </div>
                <div _ngcontent-c5="" class="page_detail_info">
                    <div _ngcontent-c5="" class="series_description">公共電視因部分節目無網路播出權，直播時段將依授權狀況進行調整~若有造成您的不便也請多包涵！ 網路直播節目表 https://goo.gl/4B0P3R</div>
                </div>
            </div>

            <div _ngcontent-c5="" class="col-md-3 series_and_video_sidebar" style="max-height: 600px;">
                <div _ngcontent-c5="" class="live_videos">
                    <div _ngcontent-c5="" class="row">
                        <h4 _ngcontent-c5="">直播節目</h4>
                    </div>

                    <div _ngcontent-c5="" class="row item_lists">
                        <!----><div _ngcontent-c5="">
                            <a _ngcontent-c5="" href="/live/93610abd-7e7a-46eb-913d-14ec42fc6ccb">
                                <div _ngcontent-c5="" class="img_hover_effect">
                                    <img _ngcontent-c5="" src="ptspIus.tv/image/WebListPage_WebListPage_公視直播_直播列表Web.jpg" alt="公共電視 網路直播 PTS Live">
                                </div>
                                <div _ngcontent-c5="" class="item_info">
                                    <p _ngcontent-c5="" class="item_name">公共電視 網路直播 PTS Live</p>
                                </div>
                            </a>
                        </div><div _ngcontent-c5="">
                            <a _ngcontent-c5="" href="/live/24e23618-e976-4b5a-9bc2-a42092174f25">
                                <div _ngcontent-c5="" class="img_hover_effect">
                                    <img _ngcontent-c5="" src="ptspIus.tv/image/WebListPage_taigi_1920X1080.jpg" alt="公視台語台 網路直播">
                                </div>
                                <div _ngcontent-c5="" class="item_info">
                                    <p _ngcontent-c5="" class="item_name">公視台語台 網路直播</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <app-google-ad-manager _ngcontent-c5="">
        <div class="container">
            <div class="row">
                <div class="ad-container-used" style="margin: 0 auto;" id="div-gpt-ad-1536305061365-0"></div>
            </div>
        </div>
    </app-google-ad-manager>

</main>