<main _ngcontent-c1="" class="series_page">
    <div _ngcontent-c1="" class="container">
        <div _ngcontent-c1="" class="row">
            <div _ngcontent-c1="" class="col-md-9">
                <!----><h1 _ngcontent-c1="" class="series_name">公視+一起聽音樂 : NSO 沙發音樂廳</h1>
            </div>
        </div>
    </div>
    <!----><div _ngcontent-c1="" class="container">
        <div _ngcontent-c1="" class="row">
            <div _ngcontent-c1="" class="col-md-9">
                <div _ngcontent-c1="" class="page_cover_image">
                    <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/5-0000000X/artworks/key_visual/web/WebItemPage_沙發音樂廳_banner_1920.jpg" alt="公視+一起聽音樂 : NSO 沙發音樂廳">
                </div>
                <div _ngcontent-c1="" class="page_action">
                    <div _ngcontent-c1="">
                        <div _ngcontent-c1="" class="publish_date">2020-8</div>
                        <div _ngcontent-c1="" class="episode_num">全 3 集</div>
                    </div>
                    <div _ngcontent-c1="">
                        <span _ngcontent-c1="" class=""></span>
                        
                            <a _ngcontent-c1="" href="javascript:void(0)" target="popup">
                                <div _ngcontent-c1="" class="btn_share"></div>
                            </a>

                        <div _ngcontent-c1="" class="btn_favorite"></div> 
                    </div>
                </div>

                <div _ngcontent-c1="" class="page_detail_info">
                    
                    <div _ngcontent-c1="" class="series_description">【4K精彩呈現】【觀看期限至2024/5/31】今年因應新型冠狀病毒肺炎（COVID-19）疫情嚴重影響表演藝術團隊之演出營收，為維持演出量能，讓樂迷能在線上收看，NSO與國家兩廳院、公共電視台三方聯手，由音樂總監呂紹嘉領軍指揮，共同製播以4K超高畫質全球直播的線上音樂會。NSO安排了適當編制與多元動聽的樂曲與大家共享，希望音樂成為撫慰人心的溫暖陪伴。<br><br>▌管絃織音 <br>▌嬉遊夏夜 <br>▌完全貝多芬<br><br>指揮/呂紹嘉 Shao-Chia Lü, conductor<br>國家交響樂團National Symphony Orchestra<br>指揮／呂紹嘉 <br>演出／國家交響樂團 <br></div>
                    <!---->
                    <!---->
                    <ul _ngcontent-c1="" class="series_category">
                        <!----><li _ngcontent-c1="">
                            <a _ngcontent-c1="" href="/channel/3/sub-genre/3-1">4K藝文饗宴
                            </a>
                        </li><li _ngcontent-c1="">
                            <a _ngcontent-c1="" href="/channel/3/sub-genre/3-2">藝文探索
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div _ngcontent-c1="" class="col-md-3 series_and_video_sidebar" style="max-height: 600px;">
                <div _ngcontent-c1="" class="series_episode">
                    <div _ngcontent-c1="" class="row">
                        <h4 _ngcontent-c1="">選集</h4>
                    </div>
                    <div _ngcontent-c1="" class="row item_lists">
                        <div _ngcontent-c1="" class="series_episode_btn_bar d-block">
                            <ul _ngcontent-c1="">
                                <!----><li _ngcontent-c1="" class="active">
                                    <a _ngcontent-c1="" href="javascript:void(0);">
                                        1-3
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <app-season-episode-side-list _ngcontent-c1="" style="width: 100%" _nghost-c3=""><!----><!---->
    <!----><div _ngcontent-c3="">
        <a _ngcontent-c3="" href="/season/51a3b07e-0218-414b-a630-cd9147d94f98/episode-type/Episode/50df9604-b95d-436c-a1ec-4c59e1ab516a">
            <div _ngcontent-c3="" class="img_hover_effect">
                <img _ngcontent-c3="" src="https://prod-material.ptsplus.tv/series/5-0000000X-1-3/artworks/posters/web/WebListPage_04.jpg" alt="完全貝多芬 ep3">
            </div>
            <div _ngcontent-c3="" class="item_info">
                <p _ngcontent-c3="" class="item_name_override">完全貝多芬 ep3</p>
            </div>
        </a>
    </div><div _ngcontent-c3="">
        <a _ngcontent-c3="" href="/season/51a3b07e-0218-414b-a630-cd9147d94f98/episode-type/Episode/238f259e-a8f8-428d-b198-9a111e6db9f1">
            <div _ngcontent-c3="" class="img_hover_effect">
                <img _ngcontent-c3="" src="https://prod-material.ptsplus.tv/series/5-0000000X-1-2/artworks/posters/web/WebListPage_02.jpg" alt="嬉遊夏夜 ep2">
            </div>
            <div _ngcontent-c3="" class="item_info">
                <p _ngcontent-c3="" class="item_name_override">嬉遊夏夜 ep2</p>
            </div>
        </a>
    </div><div _ngcontent-c3="">
        <a _ngcontent-c3="" href="/season/51a3b07e-0218-414b-a630-cd9147d94f98/episode-type/Episode/e2fd2074-f48e-4ba0-95ac-7a6a7703f61b">
            <div _ngcontent-c3="" class="img_hover_effect">
                <img _ngcontent-c3="" src="https://prod-material.ptsplus.tv/series/5-0000000X-1-1/artworks/posters/web/WebListPage_01.jpg" alt="管絃織音 ep1">
            </div>
            <div _ngcontent-c3="" class="item_info">
                <p _ngcontent-c3="" class="item_name_override">管絃織音 ep1</p>
            </div>
        </a>
    </div>

</app-season-episode-side-list>
                    </div>
                </div>
                <!---->
            </div>
        </div>
        <div _ngcontent-c1="" class="row">
            <div _ngcontent-c1="" class="col-md-9">
                <div _ngcontent-c1="" class="series_tab_area">
                    <ul _ngcontent-c1="" class="series_tab">
                        <!---->
                    </ul>
                </div>
                <app-season-relation-list _ngcontent-c1="" _nghost-c4=""><div _ngcontent-c4="" class="series_tab_contnet">
    <div _ngcontent-c4="" class="item_lists video">
        <!---->
    </div>
</div>
</app-season-relation-list>
            </div>
        </div>
    </div>
    
    <app-google-ad-manager _ngcontent-c1="">
        <div class="container">
            <div class="row">
                <div class="ad-container-used" style="margin: 0px auto;" id="div-gpt-ad-1536305061365-0"><div id="google_ads_iframe_/21623531013/CP_TEST_0__container__" style="border: 0pt none; width: 320px; height: 50px;"></div></div>
            </div>
        </div>
    </app-google-ad-manager>
    
    <div _ngcontent-c1="" aria-hidden="true" aria-labelledby="popupModalLabel" class="modal fade" id="popupModal" role="dialog" tabindex="-1">
        <div _ngcontent-c1="" class="modal-dialog" role="document">
            <div _ngcontent-c1="" class="modal-content">
                <div _ngcontent-c1="" class="modal-header">
                    <h5 _ngcontent-c1="" class="modal-title" id="popupModalLabel">我的收藏</h5>
                    <button _ngcontent-c1="" aria-label="Close" class="close" data-dismiss="modal" type="button"><span _ngcontent-c1="" aria-hidden="true"></span></button>
                </div>
                <div _ngcontent-c1="" class="modal-body">
                    <p _ngcontent-c1=""></p>
                </div>
                <div _ngcontent-c1="" class="modal-footer">
                    <a _ngcontent-c1="" class="btn btn-outline-primary" data-dismiss="modal" type="button">確定</a>
                </div>
            </div>
        </div>
    </div>

    
    <div _ngcontent-c1="" aria-hidden="true" aria-labelledby="popupModalLabel" class="modal fade" id="popupModalError" role="dialog" tabindex="-1">
        <div _ngcontent-c1="" class="modal-dialog" role="document">
            <div _ngcontent-c1="" class="modal-content">
                <div _ngcontent-c1="" class="modal-header">
                    <h5 _ngcontent-c1="" class="modal-title" id="popupModalLabel">警告</h5>
                    
                </div>
                <div _ngcontent-c1="" class="modal-body">
                    <p _ngcontent-c1=""></p>
                </div>
                <div _ngcontent-c1="" class="modal-footer">
                    <button _ngcontent-c1="" class="btn btn-outline-primary" data-dismiss="modal" data-toggle="modal" type="button">關閉</button>
                    
                </div>
            </div>
        </div>
    </div>
</main>