<main _ngcontent-c1="" class="payment_flow_page">
    <div _ngcontent-c1="" class="container">
        <div _ngcontent-c1="" class="row justify-content-center">
            <div _ngcontent-c1="" class="col-md-6 col-10">
                <ul _ngcontent-c1="" class="payment_steps">
                    <li _ngcontent-c1="" class="step_01 active"></li>
                    <li _ngcontent-c1="" class="step_02"></li>
                    <li _ngcontent-c1="" class="step_03"></li>
                    <li _ngcontent-c1="" class="step_04"></li>
                    <li _ngcontent-c1="" class="step_05"></li>
                </ul>
            </div>
        </div>
        <div _ngcontent-c1="" class="row justify-content-center">
            <div _ngcontent-c1="" class="col-12">
                <h3 _ngcontent-c1="">最新方案　敬請期待！</h3>
            </div>
        </div>
        <div _ngcontent-c1="" class="row">
            <div _ngcontent-c1="" class="col-12">
                <div _ngcontent-c1="" class="payment_plan justify-content-center">
                    <!---->
                    <div _ngcontent-c1="" class="plan-card">
                        <!----><span _ngcontent-c1=""></span>
                        <p _ngcontent-c1="" class="card_subtitle">單點節目</p>
                        <p _ngcontent-c1="" class="card_title">《魂囚西門》高畫質線上收看方案</p>
                        <p _ngcontent-c1="" class="card_description">*本節目僅限台灣境內收視，若您收看地點不在台灣，購買後將無法收看本片。
                            **觀看期限為三個月。
                            ***若您選擇捐贈本次消費之發票，將無法辦理退款。
                            ***若您的會員EMAIL帳號設有特殊符號(如 + / 等）將無法透過本系統購買本片，建議重新註冊設定新的會員帳號。

                            支持公視製作優質節目，竭力打造全民的OTT影音平台!單次付費80元，即可立即收看完整影片。
                            公視+ 是公視在新媒體的起點，我們誠摯地邀請您透過這次的方案一起為台灣影視產業盡一份力，將優質的好節目、好故事、好演員一起分享給更多人知道!</p>
                        <button _ngcontent-c1="" class="btn btn-outline-primary">立即購買 $80</button>
                    </div>
                </div>
            </div>
        </div>
        <div _ngcontent-c1="" class="row justify-content-center">
            <div _ngcontent-c1="" class="col-md-6 plan_notice">
                <p _ngcontent-c1="">當選擇繼續，即表示你同意
                    <a _ngcontent-c1="" routerlink="/terms" href="" class="disabled_href">方案使用規則與條款</a>
                </p>
            </div>
        </div>
    </div>



    <div _ngcontent-c1="" aria-hidden="true" aria-labelledby="popupModalLabel" class="modal fade" id="popupModal" role="dialog" tabindex="-1">
        <div _ngcontent-c1="" class="modal-dialog" role="document">
            <div _ngcontent-c1="" class="modal-content">
                <div _ngcontent-c1="" class="modal-header">
                    <h5 _ngcontent-c1="" class="modal-title" id="popupModalLabel">標題</h5>
                    <button _ngcontent-c1="" aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span _ngcontent-c1="" aria-hidden="true"></span>
                    </button>
                </div>
                <div _ngcontent-c1="" class="modal-body">
                    <p _ngcontent-c1="">內容</p>
                </div>
                <div _ngcontent-c1="" class="modal-footer">
                    <a _ngcontent-c1="" class="btn btn-outline-primary">確定</a>
                    <a _ngcontent-c1="" class="btn btn-outline-primary" data-dismiss="modal">取消</a>
                </div>
            </div>
        </div>
    </div>
    <app-remind-update-email-dialog _ngcontent-c1="" _nghost-c3="">
        <div _ngcontent-c3="" aria-hidden="true" aria-labelledby="emailValidPopupModalLabel" class="modal fade" id="emailValidPopupModal" role="dialog" tabindex="-1">
            <div _ngcontent-c3="" class="modal-dialog" role="document">
                <div _ngcontent-c3="" class="modal-content">
                    <div _ngcontent-c3="" class="modal-header">
                        <h5 _ngcontent-c3="" class="modal-title" id="emailValidPopupModalLabel">尚未驗證</h5>
                        <button _ngcontent-c3="" aria-label="Close" class="close" data-dismiss="modal" type="button"><span _ngcontent-c3="" aria-hidden="true"></span></button>
                    </div>
                    <div _ngcontent-c3="" class="modal-body">
                        <p _ngcontent-c3="">請進行 Email 認證，按下『確定』後，將幫您轉至『個人資料』頁，方可更改 Email，更改完畢後，系統將傳送一封認證信至您的信箱，再請您進行後續認證．</p>
                    </div>
                    <div _ngcontent-c3="" class="modal-footer">
                        <button _ngcontent-c3="" class="btn btn-outline-primary" data-dismiss="modal" tabindex="0">確定</button>
                    </div>
                </div>
            </div>
        </div>
    </app-remind-update-email-dialog>
</main>
