<main _ngcontent-c6="" class="payment_flow_page">
    <div _ngcontent-c6="" class="container">
        <div _ngcontent-c6="" class="row justify-content-center">
            <div _ngcontent-c6="" class="col-md-6 col-10">
                <ul _ngcontent-c6="" class="payment_steps">
                    <li _ngcontent-c6="" class="step_01"></li>
                    <li _ngcontent-c6="" class="step_02 active"></li>
                    <li _ngcontent-c6="" class="step_03"></li>
                    <li _ngcontent-c6="" class="step_04"></li>
                    <li _ngcontent-c6="" class="step_05"></li>
                </ul>
            </div>
        </div>
        <div _ngcontent-c6="" class="row justify-content-center">
            <div _ngcontent-c6="" class="col-md-8">
                <div _ngcontent-c6="" class="payment_user_info">
                    <form _ngcontent-c6="" novalidate="" class="ng-untouched ng-pristine">
                        <div _ngcontent-c6="" class="form-group">
                            <label _ngcontent-c6="" for="">Email</label>
                            <input _ngcontent-c6="" class="form-control ng-untouched ng-pristine" disabled="" name="email" placeholder="請輸入Email" type="email">
                        </div>
                        <div _ngcontent-c6="" class="form-group">
                            <label _ngcontent-c6="" for="">手機號碼</label>
                            <input _ngcontent-c6="" class="form-control ng-untouched ng-pristine" disabled="" name="cell_phone" placeholder="" type="text">
                        </div>
                        <div _ngcontent-c6="" class="form-group">
                            <label _ngcontent-c6="" for="">購買方案</label>
                            <p _ngcontent-c6="">《魂囚西門》高畫質線上收看方案</p>
                        </div>
                    </form>
                </div>
                <div _ngcontent-c6="" class="order-total-price">
                    <div _ngcontent-c6="" class="flex-row-reverse">
                        <div _ngcontent-c6="" class="special_price d-none"></div>
                        <div _ngcontent-c6="" class="original_price">80</div>
                    </div>
                    <div _ngcontent-c6="" class="justify-content-between">
                        <a _ngcontent-c6="" class="back_prev_step" href="javascript:void(0)">回到上一步</a>
                        <button _ngcontent-c6="" class="btn btn-primary" type="button">繼續</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-remind-update-email-dialog _ngcontent-c6="" _nghost-c3="">
        <div _ngcontent-c3="" aria-hidden="true" aria-labelledby="emailValidPopupModalLabel" class="modal fade" id="emailValidPopupModal" role="dialog" tabindex="-1">
            <div _ngcontent-c3="" class="modal-dialog" role="document">
                <div _ngcontent-c3="" class="modal-content">
                    <div _ngcontent-c3="" class="modal-header">
                        <h5 _ngcontent-c3="" class="modal-title" id="emailValidPopupModalLabel">尚未驗證</h5>
                        <button _ngcontent-c3="" aria-label="Close" class="close" data-dismiss="modal" type="button"><span _ngcontent-c3="" aria-hidden="true"></span></button>
                    </div>
                    <div _ngcontent-c3="" class="modal-body">
                        <p _ngcontent-c3="">請進行 Email 認證，按下『確定』後，將幫您轉至『個人資料』頁，方可更改 Email，更改完畢後，系統將傳送一封認證信至您的信箱，再請您進行後續認證．</p>
                    </div>
                    <div _ngcontent-c3="" class="modal-footer">
                        <button _ngcontent-c3="" class="btn btn-outline-primary" data-dismiss="modal" tabindex="0">確定</button>
                    </div>
                </div>
            </div>
        </div>
    </app-remind-update-email-dialog>
</main>