<main _ngcontent-c7="" class="payment_flow_page">
    <div _ngcontent-c7="" class="container">
        <div _ngcontent-c7="" class="row justify-content-center">
            <div _ngcontent-c7="" class="col-md-6 col-10">
                <ul _ngcontent-c7="" class="payment_steps">
                    <li _ngcontent-c7="" class="step_01"></li>
                    <li _ngcontent-c7="" class="step_02"></li>
                    <li _ngcontent-c7="" class="step_03 active"></li>
                    <li _ngcontent-c7="" class="step_04"></li>
                    <li _ngcontent-c7="" class="step_05"></li>
                </ul>
            </div>
        </div>
        <div _ngcontent-c7="" class="row justify-content-center">
            <div _ngcontent-c7="" class="col-md-8">
                <div _ngcontent-c7="" class="payment_method">
                    <h4 _ngcontent-c7="">選擇付款方式</h4>
                    <form _ngcontent-c7="" novalidate="" class="ng-untouched ng-pristine ng-valid">
                        <!---->
                        <!---->
                        <!----><label _ngcontent-c7="">
                            <input _ngcontent-c7="" name="payment_method_name" type="radio" value="信用卡">
                            <div _ngcontent-c7="">
                                <div _ngcontent-c7="">信用卡</div>
                                <p _ngcontent-c7=""></p>
                            </div>
                        </label>
                        <!---->
                        <!----><label _ngcontent-c7="">
                            <input _ngcontent-c7="" name="payment_method_name" type="radio" value="超商代碼付款">
                            <div _ngcontent-c7="">
                                <div _ngcontent-c7="">超商代碼付款</div>
                                <p _ngcontent-c7=""></p>
                            </div>
                        </label>

                    </form>
                    <h4 _ngcontent-c7="">如果您有適用的優惠代碼，請填於此</h4>
                    <form _ngcontent-c7="" class="form-inline flex-nowrap ng-untouched ng-pristine ng-valid" novalidate="">
                        <div _ngcontent-c7="" class="form-group">
                            <input _ngcontent-c7="" class="form-control ng-untouched ng-pristine ng-valid" name="str_coupon" placeholder="請輸入優惠代碼" type="text">
                        </div>
                        <button _ngcontent-c7="" class="btn btn-outline-primary" type="button">使用</button>
                    </form>

                    <div _ngcontent-c7="" class="invalid-feedback ">優惠代碼無效</div>

                    <div _ngcontent-c7="" class="coupon_plan_title" hidden=""></div>
                </div>
                <div _ngcontent-c7="" class="order-total-price">
                    <div _ngcontent-c7="" class="flex-row-reverse">
                        <div _ngcontent-c7="" class="special_price d-none">0</div>
                        <div _ngcontent-c7="" class="original_price">80</div>
                    </div>
                    <div _ngcontent-c7="" class="justify-content-between">
                        <a _ngcontent-c7="" class="back_prev_step" href="javascript:void(0)">回到上一步</a>
                        <button _ngcontent-c7="" class="btn btn-primary" type="button">繼續</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
