<main _ngcontent-c1="" class="payment_flow_page">
    <div _ngcontent-c1="" class="container">
        <div _ngcontent-c1="" class="row justify-content-center">
            <div _ngcontent-c1="" class="col-md-6 col-10">
                <ul _ngcontent-c1="" class="payment_steps">
                    <li _ngcontent-c1="" class="step_01"></li>
                    <li _ngcontent-c1="" class="step_02"></li>
                    <li _ngcontent-c1="" class="step_03"></li>
                    <li _ngcontent-c1="" class="step_04"></li>
                    <li _ngcontent-c1="" class="step_05 active"></li>
                </ul>
            </div>
        </div>
        <div _ngcontent-c1="" class="row justify-content-center">
            <div _ngcontent-c1="" class="col-md-8">
                <div _ngcontent-c1="" class="payment_detail">
                    <!---->
                    <div _ngcontent-c1="">
                        <h4 _ngcontent-c1="" class="payment_detail_title">交易失敗</h4>
                        <p _ngcontent-c1="" class="payment-error-msg">很抱歉無法完成您的交易, 請盡快聯絡客服取得協助</p>
                        <p _ngcontent-c1="" class="payment-error-msg">可能有以下幾種原因, 請確認後再次輸入:</p>
                        <!---->
                        <!---->
                        <ol _ngcontent-c1="" class="payment-error-msg">
                            <li _ngcontent-c1="">信用卡卡號與有效月年輸入錯誤</li>
                            <li _ngcontent-c1="">信用卡收單銀行否認 / 拒絕了您信用卡每月自動扣款的要求，請與發卡銀行聯絡</li>
                            <li _ngcontent-c1="">信用卡可能為國外信用卡</li>
                        </ol>
                    </div>
                    <!---->
                </div>
                <div _ngcontent-c1="" class="order-total-price">
                    <div _ngcontent-c1="" class="justify-content-center">
                        <button _ngcontent-c1="" class="btn btn-primary" type="button">確定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
