<div id="app">
    <app-episode-side-list _ngcontent-c11="" style="width: 100%" _nghost-c14="">
        <!---->
        <!---->
        <!---->
        <div _ngcontent-c14="">
            <a _ngcontent-c14="" href="/ptspIus.tv/乘客_ep2.html">
                <div _ngcontent-c14="" class="img_hover_effect">
                    <img _ngcontent-c14="" src="https://img.youtube.com/vi/LGrpsZ7BsQA/0.jpg" alt="乘客 ep2">
                </div>
                <div _ngcontent-c14="" class="item_info">
                    <p _ngcontent-c14="" class="item_name_override item_name_mark">
                        <ep2></ep2>
                    </p>
                </div>
            </a>
            <a _ngcontent-c14="" href="/ptspIus.tv/乘客_ep1.html">
                <div _ngcontent-c14="" class="img_hover_effect">
                    <img _ngcontent-c14="" src="https://img.youtube.com/vi/LGrpsZ7BsQA/0.jpg" alt="乘客 ep1">
                </div>
                <div _ngcontent-c14="" class="item_info">
                    <p _ngcontent-c14="" class="item_name_override item_name_mark">
                        乘客 ep1
                    </p>
                </div>
            </a>
        </div>

    </app-episode-side-list>
</div>
