<main _ngcontent-c1="" class="series_page">
    <div _ngcontent-c1="" class="container">
        <div _ngcontent-c1="" class="row">
            <div _ngcontent-c1="" class="col-md-9">
                <!---->
                <h1 _ngcontent-c1="" class="series_name">乘客</h1>
            </div>
        </div>
    </div>
    <!---->
    <div _ngcontent-c1="" class="container">
        <div _ngcontent-c1="" class="row">
            <div _ngcontent-c1="" class="col-md-9">
                <div _ngcontent-c1="" class="page_cover_image">
                    <img _ngcontent-c1="" src="https://via.placeholder.com/1920x613" alt="小洋">
                </div>
                <div _ngcontent-c1="" class="page_action">
                    <div _ngcontent-c1="">
                        <div _ngcontent-c1="" class="publish_date">1984-1</div>
                        <div _ngcontent-c1="" class="episode_num">全 9 集</div>
                    </div>
                    <div _ngcontent-c1="">
                        <span _ngcontent-c1="" class=""></span>

                        <a _ngcontent-c1="" href="javascript:void(0)" target="popup">
                            <div _ngcontent-c1="" class="btn_share"></div>
                        </a>

                        <div _ngcontent-c1="" class="btn_favorite"></div>
                    </div>
                </div>

                <div _ngcontent-c1="" class="page_detail_info">

                    <div _ngcontent-c1="" class="series_description">【觀看期限至1984/4/9】又一個早上那人沒有原諒昨天。在月台上，他和他的身體站得很遠。眼前的車門睜開或閉上，看見他，看見卻沒有帶走他。一切都好只是每天都走的那條路，竟又忘記他了。</div>
                    <!---->
                    <div _ngcontent-c1="" class="series_direct">蕭詒徽</div>
                    <!---->
                    <div _ngcontent-c1="" class="series_actor">劉芸香，方芮欣</div>
                    <ul _ngcontent-c1="" class="series_category">
                        <!---->
                        <li _ngcontent-c1="">
                            <a _ngcontent-c1="" href="/channel/1/sub-genre/1-10">懸疑
                            </a>
                        </li>
                        <li _ngcontent-c1="">
                            <a _ngcontent-c1="" href="/channel/1/sub-genre/1-3">文學
                            </a>
                        </li>
                        <li _ngcontent-c1="">
                            <a _ngcontent-c1="" href="/channel/1/sub-genre/1-4">戲劇
                            </a>
                        </li>
                        <li _ngcontent-c1="">
                            <a _ngcontent-c1="" href="/channel/1/sub-genre/1-6">4K
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div _ngcontent-c1="" class="col-md-3 series_and_video_sidebar" style="max-height: 600px;">
                <div _ngcontent-c1="" class="series_episode">
                    <div _ngcontent-c1="" class="row">
                        <h4 _ngcontent-c1="">選集</h4>
                    </div>
                    <div _ngcontent-c1="" class="row item_lists">
                        <div _ngcontent-c1="" class="series_episode_btn_bar d-block">
                            <ul _ngcontent-c1="">
                                <!---->
                                <li _ngcontent-c1="" class="active">
                                    <a _ngcontent-c1="" href="javascript:void(0);">
                                        1-9
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <%- include 乘客_list.ejs %>
                    </div>
                </div>
                <!---->
            </div>
        </div>
        <div _ngcontent-c1="" class="row">
            <div _ngcontent-c1="" class="col-md-9">
                <div _ngcontent-c1="" class="series_tab_area">
                    <ul _ngcontent-c1="" class="series_tab">
                        <!---->
                    </ul>
                </div>
                <app-season-relation-list _ngcontent-c1="" _nghost-c4="">
                    <div _ngcontent-c4="" class="series_tab_contnet">
                        <div _ngcontent-c4="" class="item_lists video">
                            <!---->
                        </div>
                    </div>
                </app-season-relation-list>
            </div>
        </div>
    </div>

    <app-google-ad-manager _ngcontent-c1="">
        <div class="container">
            <div class="row">
                <div class="ad-container-used" style="margin: 0px auto;" id="div-gpt-ad-1536305061365-0">
                    <div id="google_ads_iframe_/21623531013/CP_TEST_0__container__" style="border: 0pt none; width: 320px; height: 50px;"></div>
                </div>
            </div>
        </div>
    </app-google-ad-manager>

    <div _ngcontent-c1="" aria-hidden="true" aria-labelledby="popupModalLabel" class="modal fade" id="popupModal" role="dialog" tabindex="-1">
        <div _ngcontent-c1="" class="modal-dialog" role="document">
            <div _ngcontent-c1="" class="modal-content">
                <div _ngcontent-c1="" class="modal-header">
                    <h5 _ngcontent-c1="" class="modal-title" id="popupModalLabel">我的收藏</h5>
                    <button _ngcontent-c1="" aria-label="Close" class="close" data-dismiss="modal" type="button"><span _ngcontent-c1="" aria-hidden="true"></span></button>
                </div>
                <div _ngcontent-c1="" class="modal-body">
                    <p _ngcontent-c1=""></p>
                </div>
                <div _ngcontent-c1="" class="modal-footer">
                    <a _ngcontent-c1="" class="btn btn-outline-primary" data-dismiss="modal" type="button">確定</a>
                </div>
            </div>
        </div>
    </div>


    <div _ngcontent-c1="" aria-hidden="true" aria-labelledby="popupModalLabel" class="modal fade" id="popupModalError" role="dialog" tabindex="-1">
        <div _ngcontent-c1="" class="modal-dialog" role="document">
            <div _ngcontent-c1="" class="modal-content">
                <div _ngcontent-c1="" class="modal-header">
                    <h5 _ngcontent-c1="" class="modal-title" id="popupModalLabel">警告</h5>

                </div>
                <div _ngcontent-c1="" class="modal-body">
                    <p _ngcontent-c1=""></p>
                </div>
                <div _ngcontent-c1="" class="modal-footer">
                    <button _ngcontent-c1="" class="btn btn-outline-primary" data-dismiss="modal" data-toggle="modal" type="button">關閉</button>

                </div>
            </div>
        </div>
    </div>
</main>
