<main _ngcontent-c12="" class="video_page">
    <div _ngcontent-c12="" class="container">
        <div _ngcontent-c12="" class="row">
            <div _ngcontent-c12="" class="col-md-9">
                <!----><h1 _ngcontent-c12="" class="series_name">夢遊夏威夷</h1>
            </div>
        </div>
    </div>

    <!----><div _ngcontent-c12="" class="container">
        <div _ngcontent-c12="" class="row">
            <div _ngcontent-c12="" class="col-md-9">
                <app-video-player _ngcontent-c12="" _nghost-c13=""><div _ngcontent-c13="" class="page_cover_image" id="videoSection">
    <!----><div _ngcontent-c13="" class="btn_play"></div>
    <!----><img _ngcontent-c13="" src="https://prod-material.ptsplus.tv/series/1-2004187-1-1/artworks/key_visual/web/WebItemPage_1.jpg" alt="夢遊夏威夷">
    <video _ngcontent-c13="" id="AsiaPlayPlayer"></video>
</div>



<div _ngcontent-c13="" aria-hidden="true" aria-labelledby="checkLoginPopupModalLabel" class="modal fade" id="checkLoginPopupModal" role="dialog" tabindex="-1">
    <div _ngcontent-c13="" class="modal-dialog" role="document">
    <div _ngcontent-c13="" class="modal-content">
        <div _ngcontent-c13="" class="modal-header">
        <h5 _ngcontent-c13="" class="modal-title" id="checkLoginPopupModalLabel">尚未登入</h5>
        <button _ngcontent-c13="" aria-label="Close" class="close" data-dismiss="modal" type="button"><span _ngcontent-c13="" aria-hidden="true"></span></button>
        </div>
        <div _ngcontent-c13="" class="modal-body">
            <p _ngcontent-c13="">請問您要登入嗎？</p>
        </div>
        <div _ngcontent-c13="" class="modal-footer">
            <button _ngcontent-c13="" class="btn btn-outline-primary" data-dismiss="modal" tabindex="0">是</button>
            <button _ngcontent-c13="" class="btn btn-outline-primary" data-dismiss="modal">否</button>
        </div>
    </div>
    </div>
</div>


<div _ngcontent-c13="" aria-hidden="true" aria-labelledby="ageLegalPopupModalLabel" class="modal fade" id="ageLegalPopupModal" role="dialog" tabindex="-1">
    <div _ngcontent-c13="" class="modal-dialog" role="document">
    <div _ngcontent-c13="" class="modal-content">
        <div _ngcontent-c13="" class="modal-header">
        <h5 _ngcontent-c13="" class="modal-title" id="ageLegalPopupModalLabel">限制級影片</h5>
        <button _ngcontent-c13="" aria-label="Close" class="close" data-dismiss="modal" type="button"><span _ngcontent-c13="" aria-hidden="true"></span></button>
        </div>
        <div _ngcontent-c13="" class="modal-body">
            <p _ngcontent-c13="">請問您年滿18歲了嗎？</p>
        </div>
        <div _ngcontent-c13="" class="modal-footer">
            <button _ngcontent-c13="" class="btn btn-outline-primary" data-dismiss="modal">是，我已滿18歲</button>
            <button _ngcontent-c13="" class="btn btn-outline-primary" data-dismiss="modal">否</button>
        </div>
    </div>
    </div>
</div>

<div _ngcontent-c13="" aria-hidden="true" aria-labelledby="errorPopupModalLabel" class="modal fade" id="errorPopupModal" role="dialog" tabindex="-1">
    <div _ngcontent-c13="" class="modal-dialog" role="document">
    <div _ngcontent-c13="" class="modal-content">
        <div _ngcontent-c13="" class="modal-header">
        <h5 _ngcontent-c13="" class="modal-title" id="errorPopupModalLabel"></h5>
        
        </div>
        <div _ngcontent-c13="" class="modal-body">
            <p _ngcontent-c13=""></p>
        </div>
        <div _ngcontent-c13="" class="modal-footer">
            <button _ngcontent-c13="" class="btn btn-outline-primary" data-dismiss="modal">確定</button>
        </div>
    </div>
    </div>
</div>

<app-remind-update-email-dialog _ngcontent-c13="" _nghost-c7=""><div _ngcontent-c7="" aria-hidden="true" aria-labelledby="emailValidPopupModalLabel" class="modal fade" id="emailValidPopupModal" role="dialog" tabindex="-1">
    <div _ngcontent-c7="" class="modal-dialog" role="document">
    <div _ngcontent-c7="" class="modal-content">
        <div _ngcontent-c7="" class="modal-header">
        <h5 _ngcontent-c7="" class="modal-title" id="emailValidPopupModalLabel">尚未驗證</h5>
        <button _ngcontent-c7="" aria-label="Close" class="close" data-dismiss="modal" type="button"><span _ngcontent-c7="" aria-hidden="true"></span></button>
        </div>
        <div _ngcontent-c7="" class="modal-body">
            <p _ngcontent-c7="">請進行 Email 認證，按下『確定』後，將幫您轉至『個人資料』頁，方可更改 Email，更改完畢後，系統將傳送一封認證信至您的信箱，再請您進行後續認證．</p>
        </div>
        <div _ngcontent-c7="" class="modal-footer">
            <button _ngcontent-c7="" class="btn btn-outline-primary" data-dismiss="modal" tabindex="0">確定</button>
        </div>
    </div>
    </div>
</div>
</app-remind-update-email-dialog>
</app-video-player>
                <app-episode-intro _ngcontent-c12="" _nghost-c14=""><!----><!---->
    <div _ngcontent-c14="" class="page_action">
        <div _ngcontent-c14="">
            <div _ngcontent-c14="" class="play_frequency">
                282
            </div>
        </div>
        <div _ngcontent-c14="">
            <span _ngcontent-c14="" class=""></span>
            <a _ngcontent-c14="" href="javascript:void(0)" target="popup">
                <div _ngcontent-c14="" class="btn_share"></div>
            </a>
            <div _ngcontent-c14="" class="label_graded graded_0"></div>
        </div>
    </div>

    <div _ngcontent-c14="" class="page_detail_info">
        <div _ngcontent-c14="" class="series_name">夢遊夏威夷</div>
        <div _ngcontent-c14="" class="series_description">即將退伍的老兵阿洲，面對未來一片茫然。某夜，他夢見多年不見的小學同學--陳欣欣，死狀淒慘。多年來，阿洲經常想起這位唯一對他好過的女生。他堅信這個突如其來的夢，決定尋找失連多年的陳欣欣。<br><br>不久，連上發生菜鳥昆河逃兵事件，阿洲與小鬼被指派尋找昆河的任務。阿洲趁著假期找到陳欣欣。陰錯陽差下，陳欣欣跟著阿洲和小鬼到了花蓮……<br>他們在花蓮擁抱夏日陽光，享受熱帶海洋氣息，過著渡假般的生活，卻突然和昆河不期而遇。昆河將他們綁架到堆滿炸藥的廢棄小屋，他們害怕即將遭遇不測，但他們怎麼都料想不到……</div>
        <!----><div _ngcontent-c14="" class="series_direct">徐輔軍</div>
        <!----><div _ngcontent-c14="" class="series_actor">楊祐寧,黃鴻升,張鈞甯,黃泰安</div>
        <ul _ngcontent-c14="" class="series_category">
            <!----><li _ngcontent-c14="">
                <a _ngcontent-c14="" href="/channel/1">戲劇</a>
            </li><li _ngcontent-c14="">
                <a _ngcontent-c14="" href="/channel/1/sub-genre/1-1">人生劇展</a>
            </li>
        </ul>
    </div>

</app-episode-intro>
            </div>
            <div _ngcontent-c12="" class="col-md-3 series_and_video_sidebar" style="max-height: 600px;">
                <div _ngcontent-c12="" class="series_episode">
                    <div _ngcontent-c12="" class="row">
                        <h4 _ngcontent-c12="">選集</h4>
                    </div>
                    <div _ngcontent-c12="" class="row item_lists">
                        <div _ngcontent-c12="" class="series_episode_btn_bar d-block">
                            <ul _ngcontent-c12="">
                                <!----><li _ngcontent-c12="" class="active">
                                    <a _ngcontent-c12="" href="javascript:void(0)">
                                        1-1
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <app-episode-side-list _ngcontent-c12="" style="width: 100%" _nghost-c15=""><!----><!---->
    <!----><div _ngcontent-c15="">
        <a _ngcontent-c15="" href="javascript:void(0);">
            <div _ngcontent-c15="" class="img_hover_effect">
                <img _ngcontent-c15="" src="https://prod-material.ptsplus.tv/series/1-2004187-1-1/artworks/posters/web/WebListPage_1.jpg" alt="夢遊夏威夷">
            </div>
            <div _ngcontent-c15="" class="item_info">
                <p _ngcontent-c15="" class="item_name_override item_name_mark">夢遊夏威夷</p>
            </div>
        </a>
    </div>

</app-episode-side-list>
                    </div>
                </div>
            </div>
        </div>

        <div _ngcontent-c12="" class="row">
            <div _ngcontent-c12="" class="col-md-9">
                <div _ngcontent-c12="" class="series_tab_area">
                    <ul _ngcontent-c12="" class="series_tab">
                        <!---->
                    </ul>
                </div>
                <app-episode-relation-list _ngcontent-c12="" _nghost-c16=""><div _ngcontent-c16="" class="series_tab_contnet">
    <div _ngcontent-c16="" class="item_lists video">
        <!---->
    </div>
</div>
</app-episode-relation-list>
            </div>
        </div>
    </div>

    
    <app-google-ad-manager _ngcontent-c12="">
        <div class="container">
            <div class="row">
                <div class="ad-container-used" style="margin: 0 auto;" id="div-gpt-ad-1536305061365-0"></div>
            </div>
        </div>
    </app-google-ad-manager>
</main>