<main _ngcontent-c1="" class="series_page">
    <div _ngcontent-c1="" class="container">
        <div _ngcontent-c1="" class="row">
            <div _ngcontent-c1="" class="col-md-9">
                <!----><h1 _ngcontent-c1="" class="series_name">釧兒</h1>
            </div>
        </div>
    </div>
    <!----><div _ngcontent-c1="" class="container">
        <div _ngcontent-c1="" class="row">
            <div _ngcontent-c1="" class="col-md-9">
                <div _ngcontent-c1="" class="page_cover_image">
                    <img _ngcontent-c1="" src="https://prod-material.ptsplus.tv/series/5-0000000V/artworks/key_visual/web/WebItemPage_釧兒_banner_1920.jpg" alt="釧兒">
                </div>
                <div _ngcontent-c1="" class="page_action">
                    <div _ngcontent-c1="">
                        <div _ngcontent-c1="" class="publish_date">2020-8</div>
                        <div _ngcontent-c1="" class="episode_num">全 1 集</div>
                    </div>
                    <div _ngcontent-c1="">
                        <span _ngcontent-c1="" class=""></span>
                        
                            <a _ngcontent-c1="" href="javascript:void(0)" target="popup">
                                <div _ngcontent-c1="" class="btn_share"></div>
                            </a>

                        <div _ngcontent-c1="" class="btn_favorite"></div> 
                    </div>
                </div>

                <div _ngcontent-c1="" class="page_detail_info">
                    
                    <div _ngcontent-c1="" class="series_description">【4K精彩呈現】【觀看期限至10/1】一個不敢搬演《薛平貴與王寶釧》的歌仔戲班，存在著一段大家都不願提及的過往……喪失記憶的團長兒子阿強，只知道歌仔戲讓全家人不快樂；一位年輕女子釧兒，卻每日等在戲台下，期待「身騎白馬」的曲調能再次響起……<br>Reed Unbroken is a story about a Taiwanese Opera troupe which is struggles to survive and a beautiful romance. A-Qiang, the only son of a leading Taiwanese Opera troupe, lost all memory of his love of Taiwanese opera in a tragic accident. Chuan, a mysterious and beautiful woman, stays always at his side, trying to help him recover his memories and his caring for the troupe by watching their favorite opera scene-XUE Ping-gui &amp; WANG Bao-chuan, which is forbidden to perform for many years since the tragic accident.<br></div>
                    <!----><div _ngcontent-c1="" class="series_direct">曾慧誠 (故事原創：澎恰恰、音樂總監暨指揮：李哲藝)</div>
                    <!----><div _ngcontent-c1="" class="series_actor">周宛怡,蔡昌憲,澎恰恰</div>
                    <ul _ngcontent-c1="" class="series_category">
                        <!----><li _ngcontent-c1="">
                            <a _ngcontent-c1="" href="/channel/3/sub-genre/3-1">4K藝文饗宴
                            </a>
                        </li><li _ngcontent-c1="">
                            <a _ngcontent-c1="" href="/channel/3/sub-genre/3-2">藝文探索
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div _ngcontent-c1="" class="col-md-3 series_and_video_sidebar" style="max-height: 600px;">
                <div _ngcontent-c1="" class="series_episode">
                    <div _ngcontent-c1="" class="row">
                        <h4 _ngcontent-c1="">選集</h4>
                    </div>
                    <div _ngcontent-c1="" class="row item_lists">
                        <div _ngcontent-c1="" class="series_episode_btn_bar d-block">
                            <ul _ngcontent-c1="">
                                <!----><li _ngcontent-c1="" class="active">
                                    <a _ngcontent-c1="" href="javascript:void(0);">
                                        1-1
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <app-season-episode-side-list _ngcontent-c1="" style="width: 100%" _nghost-c3=""><!----><!---->
    <!----><div _ngcontent-c3="">
        <a _ngcontent-c3="" href="/season/3dc93797-08d7-425e-9681-bd8dab1ebed2/episode-type/Episode/152d1926-8699-4195-9750-17587c0197c8">
            <div _ngcontent-c3="" class="img_hover_effect">
                <img _ngcontent-c3="" src="https://prod-material.ptsplus.tv/series/5-0000000V-1-1/artworks/posters/web/WebListPage_1.jpg" alt="釧兒">
            </div>
            <div _ngcontent-c3="" class="item_info">
                <p _ngcontent-c3="" class="item_name_override">釧兒</p>
            </div>
        </a>
    </div>

</app-season-episode-side-list>
                    </div>
                </div>
                <!---->
            </div>
        </div>
        <div _ngcontent-c1="" class="row">
            <div _ngcontent-c1="" class="col-md-9">
                <div _ngcontent-c1="" class="series_tab_area">
                    <ul _ngcontent-c1="" class="series_tab">
                        <!---->
                    </ul>
                </div>
                <app-season-relation-list _ngcontent-c1="" _nghost-c4=""><div _ngcontent-c4="" class="series_tab_contnet">
    <div _ngcontent-c4="" class="item_lists video">
        <!---->
    </div>
</div>
</app-season-relation-list>
            </div>
        </div>
    </div>
    
    <app-google-ad-manager _ngcontent-c1="">
        <div class="container">
            <div class="row">
                <div class="ad-container-used" style="margin: 0px auto;" id="div-gpt-ad-1536305061365-0"><div id="google_ads_iframe_/21623531013/CP_TEST_0__container__" style="border: 0pt none; width: 320px; height: 50px;"></div></div>
            </div>
        </div>
    </app-google-ad-manager>
    
    <div _ngcontent-c1="" aria-hidden="true" aria-labelledby="popupModalLabel" class="modal fade" id="popupModal" role="dialog" tabindex="-1">
        <div _ngcontent-c1="" class="modal-dialog" role="document">
            <div _ngcontent-c1="" class="modal-content">
                <div _ngcontent-c1="" class="modal-header">
                    <h5 _ngcontent-c1="" class="modal-title" id="popupModalLabel">我的收藏</h5>
                    <button _ngcontent-c1="" aria-label="Close" class="close" data-dismiss="modal" type="button"><span _ngcontent-c1="" aria-hidden="true"></span></button>
                </div>
                <div _ngcontent-c1="" class="modal-body">
                    <p _ngcontent-c1=""></p>
                </div>
                <div _ngcontent-c1="" class="modal-footer">
                    <a _ngcontent-c1="" class="btn btn-outline-primary" data-dismiss="modal" type="button">確定</a>
                </div>
            </div>
        </div>
    </div>

    
    <div _ngcontent-c1="" aria-hidden="true" aria-labelledby="popupModalLabel" class="modal fade" id="popupModalError" role="dialog" tabindex="-1">
        <div _ngcontent-c1="" class="modal-dialog" role="document">
            <div _ngcontent-c1="" class="modal-content">
                <div _ngcontent-c1="" class="modal-header">
                    <h5 _ngcontent-c1="" class="modal-title" id="popupModalLabel">警告</h5>
                    
                </div>
                <div _ngcontent-c1="" class="modal-body">
                    <p _ngcontent-c1=""></p>
                </div>
                <div _ngcontent-c1="" class="modal-footer">
                    <button _ngcontent-c1="" class="btn btn-outline-primary" data-dismiss="modal" data-toggle="modal" type="button">關閉</button>
                    
                </div>
            </div>
        </div>
    </div>
</main>